{block content}

<div class="headline-wrapper">
	<h1 n:block="title">Administrace</h1>
</div>


<div class="content-wrapper">
	<p>...</p>
</div>


{/block}
{block scripts}
	{include '../components/tinymce.latte'}
{/block}