{block content}
<div class="row white sign">
	<div class="wrapper">
		<h1 n:block=title>Přihlásit se</h1>
		<div class="inline-block">
			{control signInForm}
		</div>
	</div>
</div>
{* or use {include '../components/form.latte', form => signInForm} *}
