{block content}

<div class="headline-wrapper">
	<h1 n:block="title">{$parentItem->name}</h1>
	<button id="add-new-button" type="button" class="button btn-transparent" data-toggle="modal" data-target="#myModal">
	  Přidat stránky
	</button>
</div>



<div class="content-wrapper">
	{include 'mainMenuStructure.latte', data => $menu, class => 'sortable'}
</div>

<div class="modal fade" id="myModal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Přidat stránky</h4>
			</div>
			<div class="modal-body">
				<p>
					Položky označené <strong>*</strong> jsou povinné.
					<br>
					<br>
				</p>
				{control addMenuItemForm}
			</div>
		</div>
	</div>
</div>

{/block}
{block scripts}
	{include '../components/confirmDelete.latte'}
	{include '../components/menusEdit.latte'}
{/block}