{if $data}
        <tr>
        <td>{$data->id}</td>
        <td class="page-name"><span>{$data->name}</span> ({$data->count})
        {*{if isset($data->subs)}*}
            {*{include 'mainMenu.latte', data => $data->subs, class => ''}*}
        {*{/if}*}
        </td>
        <td data-id="{$data->id}">
        <a n:href="Menus:edit $data->id"><span class="glyphicon glyphicon-pencil"></span>upravit</a>
         |
        <a data-toggle="modal" data-target="#modal-rename"><span class="glyphicon glyphicon-pencil"></span>přejmenovat</a>
        {if $data->count == 0} |
        <a data-href="{plink Menus:delete $data->id}" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-remove"></span>smazat</a>
        {/if}
        </td>
        </tr>
{/if}