{if $data}
        <li data-id="{$data->id}" data-parent_id="{$data->parent_id}" {if $data->status != 1} style="opacity: .4"{/if}>
        <span class="handle">x</span>
        <a {if $data->statusStr != 1}style="text-decoration:line-through"{/if} class="page-name" n:href="Structure:edit $data->itemId">{$data->name}</a>
        <span class="page-url"><small><span class="allowOpacity">{$basePath}</span>/<span class="page-url-wrap">{$data->url}</span></small></span>
        <a data-href="{plink Menus:delete id => $data->id, 'menuId' => $parentItem->id}" data-toggle="modal" data-target="#confirm-delete" class="fl-right page-delete">smazat</a>
        {if isset($data->subs)}
            {include 'mainMenuStructure.latte', data => $data->subs, class => ''}
        {else}
        <ul></ul>
        {/if}
        </li>
{/if}