{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{foreach $langs as $lang}
		<url><loc>{link //Homepage:default, lang=>$lang}</loc><changefreq>weekly</changefreq></url>
		{foreach $products as $product}
		<url><loc>{link //Products:$product, lang=>$lang}</loc><changefreq>weekly</changefreq></url>
		{/foreach}
	{/foreach}
</urlset>