{block content}

<div class="wrapper mt20 mb20">
	<div class="row p-h-50">
		<div class="col-md-5">
			<h2>{_}Kontaktní formulář{/_}</h2>
			<div class="form-control contact-form">
				{form contactForm}
					<ul class=error n:if="$form->ownErrors">
						<li n:foreach="$form->ownErrors as $error">{$error}</li>
					</ul>
					<div class="form-group col-md-12">
						{label name /}
						{input name}
					</div>
					<div class="form-group col-md-6 inline-group left">
						{label email /}
						{input email}
					</div>
					<div class="form-group col-md-6 inline-group right">
						{label phone /}
						{input phone}
					</div>
					<div class="form-group col-md-12">
						{label message /}
						{input message}
					</div>
					<div class="form-group col-md-12">
						{input send}
					</div>
				{/form}
			</div>
		</div>
		<div class="col-md-7">
			<h2>{_}Kde nás najdete{/_}</h2>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2552.6028828791345!2d12.842180315878121!3d50.22464097944493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a0996ee8621c03%3A0xb92250210980b7d1!2sKV+Arena%2C+s.r.o.!5e0!3m2!1scs!2scz!4v1466941036730" width="750" height="360" frameborder="0" style="border:0;max-width:100%" allowfullscreen></iframe>
		</div>
	</div>
</div>

{$frontApp->getPageById(67)->text1|noescape}

{*<div class="contact-strip gray-strip">*}
	{*<div class="wrapper">*}
		{*<div class="row p-h-50">*}
			{*<div class="col-md-4 gray-strip-col">*}
				{*<h2>KV Arena, s.r.o.</h2>*}
				{*<p>Společnost KV Arena s.r.o. je vlastněna Statutárním městem Karlovy Vary a byla založena za účelem provozování a správy jednotlivých sportovišť areálu KV Areny.</p>*}
				{*<img class="mt20" src="{$basePath}/assets/images/png/kv-logo.png" alt="Logo Karlovy Vary">*}
			{*</div>*}
			{*<div class="col-md-4 gray-strip-col">*}
				{*<div class="mb20">*}
					{*<h2>Sídlo:</h2>*}
					{*<address>*}
						{*Západní 1812/73 <br>*}
						{*360&nbsp;01, Karlovy Vary*}
					{*</address>*}
				{*</div>*}
				{*<div class="mb20">*}
					{*<h2>Provozovna <br> (doručovací adresa):</h2>*}
					{*<address>*}
						{*Západní 1812/73 <br>*}
						{*360&nbsp;01, Karlovy Vary*}
						{*Po-Pá 08:00&ndash;16:00*}
					{*</address>*}
				{*</div>*}
			{*</div>*}
			{*<div class="col-md-4 gray-strip-col">*}
				{*<div class="mb20">*}
					{*<h2>Bankovní spojení:</h2>*}
					{*<p>*}
						{*Komerční banka, a.s, <br>*}
						{*č.ú. 43-3207660237/0100 <br>*}
						{*IBANCZ1501000000433207660237*}
					{*</p>*}
				{*</div>*}
				{*<div class="mb20">*}
					{*<h2>Identifikační údaje:</h2>*}
					{*<p>*}
						{*IČ: 2796856 <br>*}
						{*DIČ: CZ27968561 <br>*}
						{*Společnost je zapsána v OR vedeného Krajským soudem v Plzni, oddíl C, vložka 19200.*}
					{*</p>*}
				{*</div>*}
			{*</div>*}
		{*</div>*}
	{*</div>*}
{*</div>*}

{*<div class="contacts">*}
	{*<div class="wrapper mt40">*}
		{*<div class="row p-h-50">*}
			{*<h2>Personální obsazení</h2>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/vladimir-kvasnicka.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Vladimír Kvasnička</p>*}
				{*<i class="contact contact-position">Jednatel společnosti</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909180">+420&nbsp;359&nbsp;909&nbsp;180</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:jednatel@kvarena.cz">jednatel@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/daniela-caslavkova.png" alt="Daniela Čáslavková">*}
				{*<p class="contact contact-name">Daniela Čáslavková</p>*}
				{*<i class="contact contact-position">Sekretariat společnosti</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909114">+420&nbsp;359&nbsp;909&nbsp;115</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:sekretariat@kvarena.cz">sekretariat@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/miloslav-janicek.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Miloslav Janíček</p>*}
				{*<i class="contact contact-position">Vedoucí střediska Multifunkční haly</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909180">+420&nbsp;359&nbsp;909&nbsp;114</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:janicek@kvarena.cz">janicek@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/igor-chodounsky.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Igor Chodounský</p>*}
				{*<i class="contact contact-position">Vedoucí střediska Baz. centra</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909212">+420&nbsp;359&nbsp;909&nbsp;212</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:chodounsky@kvarena.cz">chodounsky@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/alena-mottlova.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Alena Mottlová</p>*}
				{*<i class="contact contact-position">Hlavní pokladní, předprodej lístků, platební záležitosti BC</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420602639876">+420&nbsp;602&nbsp;639&nbsp;876</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:mottlova@kvarena.cz">mottlova@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/martina-vazanova.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Bc. Martina Vážanová</p>*}
				{*<i class="contact contact-position">Pronájem ledových ploch / referent Bazénového centra</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909166">+420&nbsp;359&nbsp;909&nbsp;166</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:vazanova@kvarena.cz">vazanova@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/no-image.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Miroslav Horálek</p>*}
				{*<i class="contact contact-position">Hlavní provozní technik</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909124">+420&nbsp;359&nbsp;909&nbsp;124</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:provoz@kvarena.cz">provoz@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/no-image.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Bc. Miroslava Vejvodová</p>*}
				{*<i class="contact contact-position">Produkce</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909194">+420&nbsp;359&nbsp;909&nbsp;194</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:produkce@kvarena.cz">produkce@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/no-image.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Ing. Jan Trubač</p>*}
				{*<i class="contact contact-position">Marketing</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909180">+420&nbsp;359&nbsp;909&nbsp;180</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:trubac@kvarena.cz">trubac@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/no-image.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Michal Kulhánek</p>*}
				{*<i class="contact contact-position">Provozní technik Haly míčových sportů</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909180">+420&nbsp;359&nbsp;909&nbsp;125</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:micovahala@kvarena.cz">micovahala@kvarena.cz</a></p>*}
			{*</div>*}
			{*<div class="col-md-3 contact-col">*}
				{*<img class="contact contact-img" src="{$basePath}/assets/images/png/contacts/no-image.png" alt="Vladimír Kvasnička">*}
				{*<p class="contact contact-name">Jaroslava Lokajová</p>*}
				{*<i class="contact contact-position">Ekonom</i>*}
				{*<p class="contact contact-phone">Tel.: <a href="tel:+420359909170">+420&nbsp;359&nbsp;909&nbsp;170</a></p>*}
				{*<p class="contact contact-email">E&ndash;mail: <a href="mailto:ekonom@kvarena.cz">ekonom@kvarena.cz</a></p>*}
			{*</div>*}
		{*</div>*}
	{*</div>*}
{*</div>*}

    {include '../components/layerslider_info.latte' data => $frontApp->getSlider(4)}

{/block}