{block content}
	<div class="wrapper">
		<div class="hp-row-1">
			<div class="row">
				<div class="col-sm-6" id="korporatni-pravo">
					<h2>Korporátní právo</h2>
					<ul role="list" class="list"> <li>založení obchodní společnosti – vypracování zakladatelských dokumentů, potřebná živnostenská či jiná veřejnoprávní oprávnění, souhlasy a prohlášení, zápis do obchodního rejstříku</li> <li>příprava a zajištění valné hromady vč. případné přítomnosti notáře</li> <li>změny ve statutárních orgánech společností</li> <li>převody obchodního podílu</li> <li>příprava smluv mezi společností a jejími orgány</li> <li>likvidace a výmaz obchodní společnosti</li> </ul>
				</div>
				<div class="col-sm-6" id="pravo-nemovitosti">
					<h2>Právo nemovitostí </h2>
					<ul role="list" class="list"> <li>právní poradenství v oblasti transakcí s nemovitostmi (prodej, koupě, darování, pronájem nemovitostí)</li> <li>vypracování veškeré smluvní dokumentace (kupní smlouvy, darovací smlouvy, nájemní smlouvy)</li> <li>zastoupení v řízení před katastrálním úřadem</li> <li>spolehlivá finanční úschova pod dohledem České advokátní komory</li> </ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" id="trestni-pravo">
					<h2>Trestní právo</h2>
					<ul role="list" class="list"> <li>obhajoba v přípravném řízení a v řízení před soudem</li> <li>zastupování poškozeného v trestním řízení včetně uplatňování náhrady škody způsobené trestným činem</li> <li>zastupování v jednání s probační a mediační službou</li> <li>sepisy trestních oznámení a dalších podání</li> </ul>
				</div>
				<div class="col-sm-6" id="ochrana-osobnich-udaju">
					<h2>Ochrana osobních údajů</h2>
					<ul role="list" class="list"> <li>zpracování analýzy ke zjištění souladu s GDPR</li> <li>právní podpora – poradenská a konzultační činnost</li> <li>tvorba a implementace vnitřních předpisů</li> <li>příprava zpracovatelských smluv</li> <li>výkon funkce pověřence</li> </ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" id="zavazkove-pravo">
					<h2>Závazkové právo</h2>
					<ul role="list" class="list"> <li>analýza, příprava a úpravy smluvní dokumentace v&nbsp;oboru občanského i obchodního práva</li> <li>podpora při zajišťování plnění povinností smluvních stran</li> </ul>
				</div>
			</div>
		</div>
		<div class="hp-row-2" id="kontakt">
			<h2>Kontakt</h2>
			<p><strong>Advokátní kancelář Mgr. Nikola Rovenská</strong><br> Brožíkova 1565/3, 360 01 Karlovy Vary<br> +420 604 907 475, <a href="mailto:nrovenska@ak-rovenska.cz">nrovenska@ak-rovenska.cz</a></p>
		</div>
	</div>

	<div
			data-service="googlemaps"
			data-id="!1m14!1m8!1m3!1d2552.5149491006905!2d12.857682!3d50.226284!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a0997071fb8bb5%3A0x83c4e63c4b8db621!2sBro%C5%BE%C3%ADkova%201565%2C%20360%2001%20Karlovy%20Vary!5e0!3m2!1scs!2scz!4v1673958898341!5m2!1scs!2scz"
			data-thumbnail="{$basePath}/assets/images/jpg/map.jpg"
			data-title="Advokátní kancelář Mgr. Nikola Rovenská"
			data-autoscale
			data-ratio="5:2">
{*		<iframe id="myGoogleMapsEmbed" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2552.5149491006905!2d12.857682!3d50.226284!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a0997071fb8bb5%3A0x83c4e63c4b8db621!2sBro%C5%BE%C3%ADkova%201565%2C%20360%2001%20Karlovy%20Vary!5e0!3m2!1scs!2scz!4v1673958898341!5m2!1scs!2scz" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*}
	</div>

{*    {include '../components/layerslider_info.latte' data => $frontApp->getSlider(4)}*}
{/block}
