{block content}
	<div class="wrapper">
		<div class="hp-row-1">
			<div class="row">
				<div class="col-sm-12">
					<div class="long-text">
						{$pageData->text1|noescape}
					</div>
				</div>
			</div>
		</div>
	</div>



	{*    {include '../components/layerslider_info.latte' data => $frontApp->getSlider(4)}*}
{/block}
