{block content}
    <div class="wrapper">
        <div class="row p-h-16">
            <div class="col-md-4 col-md-push-8 mainRightCl searchList">
                <div class="gray-block">
                    {include '../components/breadcrumbArticles.latte' data => $breadcrumb, class => 'mt5 mb10'}
                    <div class="sideNav" style="display:none">
                        {$frontApp->printMenu(20,'components/classicMenu.latte')}
                    </div>
                    <div class="row p-v-8 sideNews">
                        {foreach $sideNews as $new}

                            {var $headline = 'headline_'.$lang}
                            {if !$new->$headline}{var $headline = 'headline_'.$presets->news['requiredLang']}{/if}
                            {var $headline = $new->$headline}
                            {var $slug = $new->id . '/' . Nette\Utils\Strings::webalize($headline)}
                            {var $url = $frontApp->getPageById(64)->url.'/'.$slug}

                            <div class="col-md-12 col-sm-6 col-sm-12">
                                <div class="newsSmallBlock">
                                    {if $new->images}
                                        <a class="img" style="background-image: url({!$basePath|noescape}/assets/uploads/{$new->id}/preview_{$new->images|noescape})" href="{$url}"></a>
                                    {elseif $new->video_thumb}
                                        <a class="img" style="background-image: url({$new->video_thumb|noescape})" href="{$url}"></a>
                                    {else}
                                        <a class="img" style="background-image: url({!$basePath|noescape}/assets/images/jpg/someimg1.jpg)" href="{$url}"></a>
                                    {/if}
                                    <div class="note">
                                        <span class="type">{_}{$new->section}{/_}</span>
                                        <a class="link" href="{$url}">{$headline}</a>
                                    </div>
                                </div>
                            </div>

                        {/foreach}
                    </div>
                    {include '../components/eventCalendar.latte'}
                </div>
                {include '../components/sideLogos.latte'}
            </div>
            <div class="col-md-8 col-md-pull-4 mainLeftCl">
                {*{$pageData->text1|noescape}*}
                <h1 class="mb30"><span class="redColor">{_}Hledat{/_}</span> <i>{$needle}</i></h1>
                {if isset($items->structure)}
                    {foreach $items->structure as $i}
                        {var $headline = 'menuText_'.$lang}
                        {if !$i->$headline}{var $headline = 'menuText_'.$presets->news['requiredLang']}{/if}
                        {var $headline = $i->$headline}

                        {var $url = $frontApp->getPageById($i->itemId)->url}

                        {var $text = 'anotace_'.$lang}
                        {if !$i->$text}{var $text = 'anotace_'.$presets->news['requiredLang']}{/if}
                        {var $desc = $i->$text}

                        <div class="searchItem">
                            <a class="block no-decoration" href="{$url}" title="{$headline}">
                                <h2 class="headline mb5">
                                    <span class="headline-wrap">{$headline}</span>
                                </h2>
                            </a>
                            <div>
                                <p class="description mb20">
                                    {$desc}
                                </p>
                                <a class="button button-more inline-block" href="{$url}">{_}Více{/_} ></a>
                            </div>
                            <hr class="mt20 mb30" />
                        </div>
                    {/foreach}
                {/if}

                {if isset($items->news)}
                    {foreach $items->news as $i}
                        {var $headline = 'headline_'.$lang}
                        {if !$i->$headline}{var $headline = 'headline_'.$presets->news['requiredLang']}{/if}
                        {var $headline = $i->$headline}

                        {var $slug = $i->id . '/' . Nette\Utils\Strings::webalize($headline)}
                        {var $url = $frontApp->getPageById(64)->url.'/'.$slug}

                        {var $text = 'desc_'.$lang}
                        {if !$i->$text}{var $text = 'desc_'.$presets->news['requiredLang']}{/if}
                        {var $desc = $i->$text}

                        <div class="searchItem">
                            <a class="block no-decoration" href="{$url}" title="{$headline}">
                                <h2 class="headline mb5">
                                    <span class="headline-wrap">{$headline}</span>
                                </h2>
                            </a>
                            <div>
                                <p class="description mb20">
                                    {$desc}
                                </p>
                                <a class="button button-more inline-block" href="{$url}">{_}Více{/_} ></a>
                            </div>
                            <hr class="mt20 mb30" />
                        </div>
                    {/foreach}
                {/if}

                {if isset($items->gallery)}
                    {foreach $items->gallery as $i}
                        {var $headline = 'headline_'.$lang}
                        {if !$i->$headline}{var $headline = 'headline_'.$presets->news['requiredLang']}{/if}
                        {var $headline = $i->$headline}

                        {var $slug = $i->id . '/' . Nette\Utils\Strings::webalize($headline)}
                        {var $url = $frontApp->getPageById(65)->url.'/'.$slug}

                        {var $text = 'text_'.$lang}
                        {if !$i->$text}{var $text = 'text_'.$presets->news['requiredLang']}{/if}
                        {var $desc = $i->$text}

                        <div class="searchItem">
                            <a class="block no-decoration" href="{$url}" title="{$headline}">
                                <h2 class="headline mb5">
                                    <span class="headline-wrap">{$headline}</span>
                                </h2>
                            </a>
                            <div>
                                <p class="description mb20">
                                    {$desc}
                                </p>
                                <a class="button button-more inline-block" href="{$url}">{_}Více{/_} ></a>
                            </div>
                            <hr class="mt20 mb30" />
                        </div>
                    {/foreach}
                {/if}
            </div>
        </div>
    </div>

    {include '../components/layerslider_info.latte' data => $frontApp->getSlider(4)}
{/block}
