{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>{ifset title}{include title|striptags} | {/ifset}Administrace - {$presets->projectName}</title>

	{* Favicons *}
	{include '../../../presenters/templates/components/icons.latte'}

	{* Droid Sans from Google Fonts *}
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' media="screen and (min-width: 941px)" rel='stylesheet' type='text/css'>

	{* CSS *}
	<link rel="stylesheet" href="{$basePath}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/admin.min.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	{block head}{/block}
</head>

<body>
	

	<header class="top-strip">
		{include 'components/header.latte'}
	</header>

	<nav class="navigation">
		{include 'components/menu.latte'}
	</nav>

	<div class="content">
		{snippet flashes}
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message} <div class="close glyphicon glyphicon-remove"></div></div>
		{/snippet}
		{include content}
	</div>

	<div class="modal-overlay modal-close"></div>

	<script src="{$basePath}/assets/js/admin.min.js"></script>
	{block scripts}
	{/block}
</body>
</html>
