{block content}
<div class="wrapper new-list">
	<div class="row p-h-16">
        <div class="col-md-4 col-md-push-8 mainRightCl">
            <div class="gray-block">
                 {include '../components/breadcrumbArticles.latte' data => $breadcrumb, class => 'mt5 mb10'}
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4 mainLeftCl">
            <h1>{_}News{/_}</h1>
            {if $news}
            {foreach $news as $new}
                {var $headline = 'headline_'.$lang}
                {if !$new->$headline}{var $headline = 'headline_'.$presets->news['requiredLang']}{/if}
                {var $headline = $new->$headline}
                {var $slug = $new->id . '/' . Nette\Utils\Strings::webalize($headline)}
                {var $url = $frontApp->getPageById(111)->url.'/'.$slug}
                <div class="new">
                    <div class="row p-h-16">
                        <div class="col-xs-6">
                            {if $new->images}
                                <a class="img" style="background-image: url({!$basePath|noescape}/assets/uploads/{$new->id}/preview_{$new->images|noescape})" href="{$url}" title="{$headline}"></a>
                            {elseif $new->video && $new->video_thumb}
                                <a class="img" style="background-image: url({$new->video_thumb|noescape})" href="{$url}" title="{$headline}"></a>
                            {else}
                                <a class="img" style="background-image: url({!$basePath|noescape}/assets/images/jpg/someimg1.jpg)" href="{$url}"></a>
                            {/if}
                        </div>
                        <div class="col-xs-6">
                            {*<span class="flag">{$presets->news['sections'][$new->section]}</span>*}
                            <a class="block no-decoration" href="{$url}" title="{$headline}">
                                <h2 class="headline">
                                    <span class="headline-wrap">{$headline}</span>
                                </h2>
                            </a>
                            <div>
                                <p class="description">
                                    {var $text = 'desc_'.$lang}
                                    {if !$new->$text}{var $text = 'desc_'.$presets->news['requiredLang']}{/if}
                                    {if Nette\Utils\Validators::isUrl($new->$text)}
                                        <a href="{$new->$text}" target="_blank">{$new->$text|replace:'http://',''}</a>
                                    {else}
                                        {!$new->$text}
                                    {/if}
                                </p>
                                <span class="date">{$new->date->format('j. n. Y')}</span>
                                <a class="button button-more" href="{$url}">{_}Více{/_} ></a>
                            </div>
                        </div>
                    </div>
                </div>
            {/foreach}
            {include '../components/paginator.latte'}
            {/if}
        </div>
	</div>
</div>
{/block}

