{block content}

{var $headline = 'headline_'.$lang}
{if !$new->$headline}{var $headline = 'headline_'.$presets->news['requiredLang']}{/if}
{var $headline = $new->$headline}

{var $text = 'text_'.$lang}
{if !$new->$text}{var $text = 'text_'.$presets->news['requiredLang']}{/if}




<div class="wrapper new-detail">
	<div class="row p-h-16">
			<div class="col-md-8 mainLeftCl">
			<h1 n:block="new-title">{$headline}</h1>
			{if $coverImage}
			<div class="baguetteBoxOne">
                    {*<a class="block" href="{$basePath}/assets/uploads/{$new->id}/s1200_{$coverImage->name}"*}
                        {*data-at-400="{$basePath}/assets/uploads/{$new->id}/s200_{$coverImage->name}"*}
                        {*data-at-600="{$basePath}/assets/uploads/{$new->id}/s400_{$coverImage->name}"*}
                        {*data-at-800="{$basePath}/assets/uploads/{$new->id}/s800_{$coverImage->name}"*}
                        {*data-at-1000="{$basePath}/assets/uploads/{$new->id}/s1200_{$coverImage->name}">*}
                        {*<img class="cover-image" class="image" src="{$basePath}/assets/uploads/{$new->id}/s1200_{$coverImage->name}" alt />*}
                    {*</a>*}
			        <img class="cover-image" src="{$basePath}/assets/uploads/{$new->id}/s1200_{$coverImage->name}" alt="{if isset($coverImage->title)}{$coverImage->title}{else}{$headline}{/if}">
            </div>
			{/if}
			<div class="clearfix">
			    <div class="fb-like mt20 fl-left" data-href="{$baseUrl}/{$lang_url}{end($breadcrumb)->url}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <p class="fl-right date-wrap">
                    <span class="date date-text">{_}Přidáno{/_}</span>
                    <span class="date date-added">{$new->date->format('j. n. Y')}</span>
                </p>
			</div>
			<div class="new-text">
				{$new->$text|noescape}
			</div>
			{if $new->video}
			    <iframe class="yt-video" width="100%" height="425" src="http://www.youtube.com/embed/{$new->video}"></iframe>
			{/if}
			{if $new->images}
            <br /><br /><br />
            <h2 class="mb10">{_}Galerie{/_}</h2>
            <hr class="mb20" />
			<div class="new-gallery baguetteBoxOne row row p-h-16 p-v-16">
				{foreach $new->images as $image}
				    <div class="col-md-4 col-xs-6">
                        <a class="gallery" href="{$basePath}/assets/uploads/{$new->id}/s1200_{$image->name}"
                            data-caption="{if isset($image->title)}{$image->title}{else}{$headline}{/if}"
                            data-at-400="{$basePath}/assets/uploads/{$new->id}/s200_{$image->name}"
                            data-at-600="{$basePath}/assets/uploads/{$new->id}/s400_{$image->name}"
                            data-at-800="{$basePath}/assets/uploads/{$new->id}/s800_{$image->name}"
                            data-at-1000="{$basePath}/assets/uploads/{$new->id}/s1200_{$image->name}">
                            <img class="image" src="{$basePath}/assets/uploads/{$new->id}/preview_{$image->name}" alt />
                        </a>
					</div>
				{/foreach}
			</div>
			{/if}
		</div>
		<div class="col-md-4 mainRightCl">
			<div class="gray-block">
                {include '../components/breadcrumbArticles.latte' data => $breadcrumb, class => 'mt5 mb10'}
                <div class="sideNewsSmall">
                    <h2 class="mb25">{_}Poslední aktuality{/_}</h2>
                    {foreach $news as $new}
                        {var $headline = 'headline_'.$lang}
                        {if !$new->$headline}{var $headline = 'headline_'.$presets->news['requiredLang']}{/if}
                        {var $headline = $new->$headline}
                        {var $slug = $new->id . '/' . Nette\Utils\Strings::webalize($headline)}
                        {var $url = $frontApp->getPageById(111)->url.'/'.$slug}
                        <div class="new">
                            <div class="row p-h-16">
                                <div class="col-xs-5">
                                    {if $new->images}
                                        <a class="img" style="background-image: url({!$basePath|noescape}/assets/uploads/{$new->id}/preview_{$new->images|noescape})" href="{$url}" title="{$headline}"></a>
                                    {elseif $new->video_thumb}
                                        <a class="img" style="background-image: url({$new->video_thumb|noescape})" href="{$url}" title="{$headline}"></a>
                                    {else}
                                        <a class="img" style="background-image: url({!$basePath|noescape}/assets/images/jpg/someimg1.jpg)" href="{$url}"></a>
                                    {/if}
                                </div>
                                <div class="col-xs-7">
                                    {*<span class="flag">{$presets->news['sections'][$new->section]}</span>*}
                                    <a class="block no-decoration" href="{$url}" title="{$headline}">
                                        <h2 class="headline">
                                            <span class="headline-wrap">{$headline}</span>
                                        </h2>
                                    </a>
                                    <div>
                                        <span class="date">{$new->date->format('j. n. Y')}</span>
                                        <a class="button button-more" href="{$url}">{_}Více{/_} ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                    <a href="{$frontApp->getPageById(111)->url}" class="right redColor block no-decoration">
                        <h3 class="mt15 mb0 redColor uppercase"><b>{_}Více aktualit{/_} ></b></h3>
                    </a>
                </div>
            </div>
        </div>
	</div>
</div>
{/block}



