body, html {
	background: @gray;
	font-family: @droidSans;
}

.top-strip {
	padding-left: 20px;
	background: @adminTopStripColor;
	height: @adminTopStripHeight;
	line-height: @adminTopStripHeight;
	//border-bottom: 1px solid @gray;
	a {
		color: lighten(@black, 10%);
		&:hover {
			color: lighten(@gray, 20%);
		}
	}
	
	.project-name {
		color: @white;
		font-weight: bold;
		font-size: 14.7px;
		&:hover {
			.no-decoration;
			color: darken(@white, 10%);

		}
	}

	.powered {
		font-size: 10px;
		color: #919191;
		.uppercase;
		padding-left: 10px;
		letter-spacing: 1px;
		line-height: @adminTopStripHeight;
	}

	.login-info {
		float: right;
		font-size: 16px;
		color: @sidebarTextColor;
		font-size: 14px;
		padding-right: 20px;
		line-height: @adminTopStripHeight;
		a {
			color: @sidebarTextColor;
		}
		.glyphicon {
			//line-height: 20px;
		}

		a:hover {
			color: @sidebarTextColor;
		}
	}

	.glyphicon {
		color: @white;
		line-height: @adminTopStripHeight;
	}
	
}

html, body, .container {
	height:100%;
	padding:0;
	margin:0;
}



#logo {
	padding: 10px;
	img {
		height: 25px;
	}
}


.navigation {
	.block;
	width: @adminSideBarWidth;
	background: @adminSideBarColor;
	height: 100%;
	float: left;
	//padding: 40px 0;
	li {
		width: 100%;
		list-style: none;
		line-height: 60px;
		color: @sidebarTextColor;
	}

	a {
		.bold;
		.block;
		.borderBox;
		.uppercase;
		font-size: 13.7px;
		line-height: 60px;
		color: @white;
		text-decoration: none;	
		border-bottom: 1px solid #404040;
		padding-left: 20px;
		&:hover {
			background: lighten(@adminSideBarColor, 10%);
		}
	}

	.active a {
		background: lighten(@adminSideBarColor, 10%);
	}
}

.content {
	background: @adminBackgroundColor;
	box-sizing: border-box;
	overflow:hidden;
	max-width: 100%;
	min-height: 100%;
	width: auto;
	/*-webkit-box-shadow: inset 2px 2px 5px 0px rgba(153,153,153,1);
	-moz-box-shadow: inset 2px 2px 5px 0px rgba(153,153,153,1);
	box-shadow: inset 2px 2px 5px 0px rgba(153,153,153,1);
	*/
	.headline-wrapper {
		height: @headlineWrapperHeight;
		background: @adminHeadlineWrapperBackground;
		padding: 30px 0 0 30px;
		&.edit-new, &.edit-reference {
			height: 100px;
		} 
	}

	.content-wrapper {
		padding: 30px;
	}
}

h1 {
	.bold;
	display: inline-block;
	width: 100%;
	font-size: 28px;
	margin-bottom: 40px;
	margin-top: 0;
}

h2 {
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 20px;
}

.table {
	width: 100%;
	th,td {
		padding: 8px 5px;
		text-align: left;
	}
	tr {
		border-bottom: 1px solid @darkGray;
	}
	th {
		.bold;
		color: @black;
		font-size: 16px;
		text-align: left;
	}
	td {
		font-size: 16px;
		line-height: 20px;
	}
	tbody {
		tr:nth-child(odd) {
			background: rgba(255,255,255,.3);
		}
	}
	a {
		color: @blue;
		line-height: 20px;
		.glyphicon {
			font-size: 12px;
			line-height: 20px;
			margin-right: 3px;
		}
	}
	.name {
		color: @black;
	}
}

.horizontal-line {
	margin: 0; 
	margin-bottom: 10px;
}

.dataTables_wrapper {
	margin-top: 30px;
}

#add-new-button, #add-reference-button {
	margin: -10px 0 10px 0;
}


.flash {
	.borderBox;
	//.radius(10px);
	.semibold;
	.clearfix;
	width: 100%;
	padding: 19px;
	//margin-bottom: 35px;
	background: @blue;
	color: @white;
	font-size: 16px;
	&.success {
		background: @green;
	}
	&.alert {
		background: @yellow;
	}
	&.warning,
	&.danger,
	&.error {
		background: @red;
	}
	.close {
		top: -6px;
		right: -6px;
		float: right;
		.pointer;
	}
}


.button {
	.radius(4px);
	.bold;
	display: inline-block;
	padding: 10px;
	width: auto;
	height: auto;
	min-width: 80px;
	line-height: 16px;
	font-size: 15px;
	border: 1px solid;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	
	
	&.btn-transparent {
		color: @black;
		background-color: transparent;
		//margin: 0 10px;
		border-color: @adminDefaultGray;
		&:hover {
			background-color: lighten(@adminDefaultGray, 40%);
			border-color: lighten(@adminDefaultGray, 40%);
		}
	}


	&.danger {
		border-color: @red;
		color: @black;
		background: @red;
		line-height: 16px !important;
		&:hover {
			background: lighten(@red, 10%);
		}

		.glyphicon {
			//top: 4px;
			line-height: 16px;	

		}
	}

	&.modal-close {
		color: @black;
		&:hover{
			background: lighten(@adminDefaultGray, 60%);
			color: @black;
		}
	}

	&.blue {
		border-color: @blue;
		background: @blue + 60;
		&:hover {
			color: @white;
			background: @blue;
		}
	}
	&.disabled {
		border-color: @darkGray;
		color: @darkGray !important;
		cursor: not-allowed;
		&:hover {
			color: @darkGray !important;
			background: @gray;
		}
	}
}

table.form {
	width: 100%;
	td, th {
		padding: 8px 5px;
		text-align: left;
		vertical-align: top;
	}
	th {
		.bold;
		color: @black;
		line-height: 32px;
		width: 180px;
	}
	input, select, textarea {
		.radius(3px);
		display: inline-block;
		border: 1px solid @gray;
		background: @white;
		padding: 5px 9px;
		font-size: 15px;
		line-height: 20px;
		width: 100%;
		//max-width: 450px;	
	}
	
	input[type="submit"] {
		max-width: 220px;
	}
	
	textarea {
		height: 6*20px;
	}

	.top-checkbox {
		width: 500px;	
	}
	
	.button {
		margin: 0;
	}
}

.widther {
	width: 100%;
	max-width: 750px;
	th {
		width: 150px;
	}
	input, select, textarea {
		max-width: 600px;
		width: 100%;
	}
	.full-desc {
		height: 10*20px;
	}
}


.partner {
	table {
		th {
			width: 175px !important;
		}
	}
}

/*
.modal-content {
	input, select, textarea {
		.radius(3px);
		display: inline-block;
		border: 1px solid @gray;
		background: @white;
		padding: 5px 9px;
		font-size: 15px;
		line-height: 20px;
		width: 100%;
		//max-width: 450px;	
	}
}
*/
.offer-form {
	width: 100%;
	max-width: 750px;
	float: left;
	padding-bottom: 40px;
	box-sizing: border-box;
	table {
		width: 100%;
		th {
			width: 150px;
		}
	}
}

.section-manager-col {
	width: 100%;
	box-sizing: border-box;
	max-width: 700px;
	float: left;
	padding-bottom: 40px;
	margin-bottom: 20px;
	padding-right: 60px;
	box-sizing: border-box;
}

ul {
	li {
		.semibold;
		list-style-type: circle;
		list-style-position: inside;
		font-size: 18px;
		line-height: 26px;
	}
}


form {
	.placeholder(#c0c0c0);
	th, td {
		text-align: left;
		padding: 5px;
	}
	th {
		min-width: 150px;
	}
	legend {
		.noselect;
		.semibold;
		line-height: 30px;
		font-size: 15px;
		color: @black;
		padding-left: 5px;
		cursor: pointer;
		.glyphicon {
			line-height: 30px;
			top: 3px;
			padding-left: 5px;
		}
		&.active {
			.bold;
			line-height: 30px;
			font-size: 15px;
		}
	}
	label {
		.semibold;
		line-height: 30px;
		font-size: 15px;
		padding-right: 10px;
		color: @blue;
		cursor: pointer;
	}

	.full-desc {
		height: 10*20px;
	}

	input, select, textarea {
		.radius(3px);
		box-sizing: border-box;
		display: inline-block;
		border: 1px solid @darkGray;
		background: @white;
		padding: 5px 9px;
		font-size: 15px;
		line-height: 20px;
		width: 100%;
		//max-width: 300px;		
	}
	input[type="checkbox"] {
		max-width: 20px;
		vertical-align: top;
		//line-height: 30px;
		position: relative;
		top: 7px;
	}
	input[type="submit"] {
		.semibold;
		cursor: pointer;
		font-size: 15px;
		margin: 0;
		.trans();
		&:hover {
			background: @blue;
			border-color: @blue;
			color: @white;
		}
	}
}

.modal-title {
	.noselect;
	.semibold;
	line-height: 40px;
	font-size: 24px;
	color: @black;
}

.modal-header .close {
	position: absolute;
	top: 8px;
	right: 8px;
	background: no-repeat;
	border: 0;
	font-weight: bold;
	font-size: 25px;
	span {
		font-weight: bold;
		font-size: 25px;
	}
}

.modal-body {
	table {
		width: 100%;
		th {
			width: 150px;
		}
	}
}

.required label {
	font-weight: 800;
}

.images {
	.image {
		.radius(10px);
		background: @white;
		padding: 10px;
		display: inline-block;
		width: 100%;
		max-width: 180px;
		text-align: center;
		margin-right: 20px;
		img {
			margin-bottom: 10px;
			width: 100%;
			
		}
	}
}

.tab-content {
	padding-top: 40px;
}


.button.btn-primary {
	border-color: @blue;
}