.form-horizontal {
	.form-group {
		margin-top: 15px;	
	}

	.checkbox-input {
		margin-top: 8px;
	}

	.control-label {
		text-align: left;
		padding-top: 0;
	}
	
	&.form-edit-structure {
		.form-group {
			width: 600px;
		}
	}
}

//input.text { width: 667px; }
input.image-input { width: 380px; }