{block content}


<div class="headline-wrapper">
	<h1 n:block="title">Reference</h1>
	<a n:href="Reference:add" class="button btn-transparent">
	  Přidat referenci
	</a>
</div>

<div class="content-wrapper">
	<table class="table datatable desc">
		<thead>
			<tr>
				{*<th>#</th>*}
				<th>Datum</th>
				<th>Nadpis</th>
				<th data-orderable="false"></th>
				<th data-orderable="false"></th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$references as $reference">
				{*<td>{$reference->id}</td>*}
				<td data-order="{$reference->date->format('Ymd')}">{$reference->date->format('Y-m-d')}</td>
				<td>
					{if $presets->news['langs']}
						{var $headline = 'headline_'.$presets->news['requiredLang']}
						{$reference->$headline}
					{else}
						{$reference->headline}
					{/if}
				</td>
				<td></td>
				<td>
					<a n:href="Reference:edit id => $reference->id"><span class="glyphicon glyphicon-pencil"></span>Upravit</a> |

					{if $reference->visible == 1}
						<a href="#modal-{$reference->id}"  data-toggle="modal" data-target="#modal-{$reference->id}"><span class="glyphicon glyphicon-remove"></span>Zneaktivnit</a> |
						<div id="modal-{$reference->id}" class="modal modal-{$reference->id}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">Deaktivace novinky</h4>
										<p>{if $presets->news['langs']}{var $headline = 'headline_'.$presets->news['requiredLang']}{$reference->$headline}{else}{$reference->headline}{/if}</p>
									</div>
									<div class="modal-body">
										Opravdu chcete tento záznam zneaktivnit?
									</div>
									<div class="modal-footer">
										<span class="button modal-close" data-dismiss="modal">Storno</span>
										<a n:href="deactivate! news_id => $reference->id" class="button danger"><span class="glyphicon glyphicon-remove"></span>Zneaktivnit</a>
									</div>
								</div>
							</div>
						</div>
					{else}
						<a n:href="deactivate! news_id => $reference->id, state => 1" ><span class="glyphicon glyphicon-ok"></span>Aktivovat</a> |
					{/if}

					<a data-href="{plink Reference:delete $reference->id}" data-toggle="modal" data-target="#confirm-delete" ><span class="glyphicon glyphicon-trash"></span>Smazat</a>
					
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade" id="myModal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Nová reference</h4>
			</div>
			<div class="modal-body">
				<p>
					Položky označené <strong>*</strong> jsou povinné.
					<br>
					<br>
				</p>
				{control addReferencesForm}
			</div>
		</div>
	</div>
</div>


{/block}
{block scripts}
	{include '../components/tinymce.latte'}
	{include '../components/confirmDelete.latte'}
{/block}