{block content}

<div class="headline-wrapper">
	<h1 n:block="title">Uživatelé</h1>
	<button n:if="$signedUserRole == 'admin'" id="add-new-button" type="button" class="button btn-transparent" data-toggle="modal" data-target="#myModal">
	  Přidat uživatele
	</button>
</div>
<div class="content-wrapper user-control">
	<table class="table">
	    <thead>
	        <th>#ID</th>
	        <th>username</th>
	        <th>jméno</th>
	        <th>email</th>
	        <th>vytvořeno</th>
	        <th>Role</th>
	        <th colspan="2">aktivní</th>
	    </thead>
	    <tbody n:if="isset($users) && $users">
            <tr n:foreach="$users as $u">
                <td class="id">{$u->id}</td>
                <td class="username">{$u->username}</td>
                <td class="name">{$u->name}</td>
                <td class="email">{$u->email}</td>
                <td class="created">{$u->created}</td>
                <td class="role">{$u->role}</td>
                <td class="status" data-status="{$u->status}">{if $u->status}ano{else}ne{/if}</td>
                <td n:if="$signedUserRole == 'admin'"><a class="bold" href="#modal" style="margin-right: 10px" data-toggle="modal" data-target="#modal-edit">upravit</a><a class="bold" href="#modal" data-href="{plink Users:delete $u->id}" data-toggle="modal" data-target="#confirm-delete">smazat</a></td>
            </tr>
        </tbody>
	</table>
</div>


<div class="modal fade" id="myModal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Nový uživatel</h4>
			</div>
			<div class="modal-body">
				<p>
					Položky označené <strong>*</strong> jsou povinné.
					<br>
					<br>
				</p>
				{control addUserForm}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-edit" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Upravit</h4>
			</div>
			<div class="modal-body">
				<p>
					Položky označené <strong>*</strong> jsou povinné.
					<br>
					<br>
				</p>
				{control editUserForm}
			</div>
		</div>
	</div>
</div>

{/block}
{block scripts}
	{include '../components/confirmDelete.latte'}
	{include '../components/users.latte'}
	<script>


	</script>
{/block}