{block content}
<div class="headline-wrapper">
	<h1 n:block="title">Přidat galerii</h1>
</div>
<div class="content-wrapper">

	<ul class="nav nav-tabs" role="tablist">
	   	<li role="presentation" class="change-form active"><a href="#czText" aria-controls="czText" role="tab" data-toggle="tab">CZ</a></li>
	    <li role="presentation" class="change-form"><a href="#enText" aria-controls="enText" role="tab" data-toggle="tab">EN</a></li>
	    <li role="presentation" class="change-form"><a href="#deText" aria-controls="deText" role="tab" data-toggle="tab">DE</a></li>
	    <li role="presentation" class="change-form"><a href="#ruText" aria-controls="ruText" role="tab" data-toggle="tab">RU</a></li>
	</ul>
    
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="czText">
			<h2>CZ</h2>
            {snippet formCZ}
                {if isset($tab) && $tab == 'czText'}
                    {control addGalleryForm}
                {/if}
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="enText">
			<h2>EN</h2>
            {snippet formEN}
                {if isset($tab) && $tab == 'enText'}
                    {control addGalleryForm}
                {/if}
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="deText">
			<h2>DE</h2>
            {snippet formDE}
                {if isset($tab) && $tab == 'deText'}
                    {control addGalleryForm}
                {/if}
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="ruText">
			<h2>RU</h2>
            {snippet formRU}
                {if isset($tab) && $tab == 'ruText'}
                    {control addGalleryForm}
                {/if}
            {/snippet}
        </div>
    </div>
</div>
{/block}
{block scripts}
	{include '../components/tinymce.latte'}
    <script>
        $(function(){
            $.nette.init();
            $('.change-form').click(function(){
                var tab = $(this).children().attr('aria-controls');
                console.log(tab);
                $.nette.ajax({
                    url: {plink this},
                    method: "POST",
                    data: {
                        tab: tab
                    }
                });
            });

            $('#dateNew').parent().css('position','relative');
            $('#dateNew').datetimepicker({
                inline: true,
                debug:true,
                sideBySide: true,
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                },
                format: 'D.M.YYYY',
                locale: 'cs'
            });
        });
    </script>
{/block}