{block content}


<div class="headline-wrapper">
	<h1 n:block="title">Galerie</h1>
	<a n:href="Gallery:add" class="button btn-transparent">
	  Přidat galerii
	</a>
</div>

<div class="content-wrapper">
	<table class="table datatable desc">
		<thead>
			<tr>
				{*<th>#</th>*}
				<th>Datum</th>
				<th>Nadpis</th>
				<th data-orderable="false" >Video</th>
				<th>Top</th>
				<th data-orderable="false"></th>
				<th data-orderable="false"></th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$pages as $page">
				{*<td>{$page->id}</td>*}
				<td data-order="{$page->date->format('Ymd')}">{$page->date->format('Y-m-d')}</td>
				<td>
					{if $presets->news['langs']}
						{var $headline = 'headline_'.$presets->news['requiredLang']}
						{$page->$headline}
					{else}
						{$page->headline}
					{/if}
					{*({$page->images})*}
					{dump $page}
				</td>
				<td>
					{if $page->video}
						<a href="https://www.youtube.com/watch?v={$page->video}" target="blank">Náhled zde</a>
					{else}
						Není
					{/if}
				</td>
				<td>{if $page->top}<b>Ano</b>{else}Ne{/if}</td>
				<td></td>
				<td>
					<a n:href="Gallery:edit id => $page->id"><span class="glyphicon glyphicon-pencil"></span>Upravit</a> |

					{if $page->visible == 1}
						<a href="#modal-{$page->id}"  data-toggle="modal" data-target="#modal-{$page->id}"><span class="glyphicon glyphicon-remove"></span>Zneaktivnit</a>
						<div id="modal-{$page->id}" class="modal modal-{$page->id}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">Deaktivace galerie</h4>
										<p>{if $presets->news['langs']}{var $headline = 'headline_'.$presets->news['requiredLang']}{$page->$headline}{else}{$page->headline}{/if}</p>
									</div>
									<div class="modal-body">
										Opravdu chcete tento záznam zneaktivnit?
									</div>
									<div class="modal-footer">
										<span class="button modal-close" data-dismiss="modal">Storno</span>
										<a n:href="deactivate! gellery_id => $page->id" class="button danger"><span class="glyphicon glyphicon-remove"></span>Zneaktivnit</a>
									</div>
								</div>
							</div>
						</div>
					{else}
						<a n:href="deactivate! gellery_id => $page->id, state => 1" ><span class="glyphicon glyphicon-ok"></span>Aktivovat</a>
					{/if}
					
				</td>
			</tr>
		</tbody>
	</table>
</div>


{/block}
{block scripts}
	{include '../components/tinymce.latte'}
{/block}