{block content}


<div class="headline-wrapper">
	<h1 n:block="title">Aktuality</h1>
	<a n:href="News:add" class="button btn-transparent">
	  Přidat aktualitu
	</a>
</div>

<div class="content-wrapper">
	<table class="table datatable desc">
		<thead>
			<tr>
				{*<th>#</th>*}
				<th>Datum</th>
				<th>Nadpis</th>
				<th data-orderable="false" >Video</th>
				{*<th>KV Arena</th>*}
				{*<th>Baz. centrum</th>*}
				{*<th>Multi. hala</th>*}
				{*<th>Tréni. hala</th>*}
				<th>Barva</th>
				<th>Sekce</th>
				<th>Top</th>
				<th data-orderable="false"></th>
				<th data-orderable="false"></th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$news as $new">
				{*<td>{$new->id}</td>*}
				<td data-order="{$new->date->format('Ymd')}">{$new->date->format('Y-m-d')}</td>
				<td>
					{if $presets->news['langs']}
						{var $headline = 'headline_'.$presets->news['requiredLang']}
						{$new->$headline}
					{else}
						{$new->headline}
					{/if}
				</td>
				<td>
					{if $new->video}
						<a href="https://www.youtube.com/watch?v={$new->video}" target="blank">Náhled zde</a>
					{else}
						Není
					{/if}
				</td>
				{*<td>{if $new->category_kv_arena}<span class="glyphicon glyphicon-ok"></span>{/if}</td>*}
				{*<td>{if $new->category_pool_center}<span class="glyphicon glyphicon-ok"></span>{/if}</td>*}
				{*<td>{if $new->category_sports_hall}<span class="glyphicon glyphicon-ok"></span>{/if}</td>*}
				{*<td>{if $new->category_training_hall}<span class="glyphicon glyphicon-ok"></span>{/if}</td>*}
				<td>{if $new->label}{$presets->news['labels'][$new->label]}{/if}</td>
				<td>{$presets->news['sections'][$new->section]}</td>
				<td>{if $new->top}<b>Ano</b>{else}Ne{/if}</td>
				<td></td>
				<td>
					<a n:href="News:edit id => $new->id"><span class="glyphicon glyphicon-pencil"></span>Upravit</a> |

					{if $new->visible == 1}
						<a href="#modal-{$new->id}"  data-toggle="modal" data-target="#modal-{$new->id}"><span class="glyphicon glyphicon-remove"></span>Zneaktivnit</a> |
						<div id="modal-{$new->id}" class="modal modal-{$new->id}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">Deaktivace novinky</h4>
										<p>{if $presets->news['langs']}{var $headline = 'headline_'.$presets->news['requiredLang']}{$new->$headline}{else}{$new->headline}{/if}</p>
									</div>
									<div class="modal-body">
										Opravdu chcete tento záznam zneaktivnit?
									</div>
									<div class="modal-footer">
										<span class="button modal-close" data-dismiss="modal">Storno</span>
										<a n:href="deactivate! news_id => $new->id" class="button danger"><span class="glyphicon glyphicon-remove"></span>Zneaktivnit</a>
									</div>
								</div>
							</div>
						</div>
					{else}
						<a n:href="deactivate! news_id => $new->id, state => 1" ><span class="glyphicon glyphicon-ok"></span>Aktivovat</a> |
					{/if}

					<a data-href="{plink News:delete $new->id}" data-toggle="modal" data-target="#confirm-delete" ><span class="glyphicon glyphicon-trash"></span>Smazat</a>
					
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade" id="myModal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Nová aktualita</h4>
			</div>
			<div class="modal-body">
				<p>
					Položky označené <strong>*</strong> jsou povinné.
					<br>
					<br>
				</p>
				{control addNewsForm}
			</div>
		</div>
	</div>
</div>


{/block}
{block scripts}
	{include '../components/tinymce.latte'}
{/block}