{block content}

{dump $tab}

<div class="headline-wrapper edit-new">
	<h1 n:block="title">Editovat aktualitu</h1>
</div>
<div class="content-wrapper">
	
	 <!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="change-form active"><a href="#czText" aria-controls="czText" role="tab" data-toggle="tab">CZ</a></li>
	    <li role="presentation" class="change-form"><a href="#enText" aria-controls="enText" role="tab" data-toggle="tab">EN</a></li>
	    <li role="presentation" class="change-form"><a href="#deText" aria-controls="deText" role="tab" data-toggle="tab">DE</a></li>
	    <li role="presentation" class="change-form"><a href="#ruText" aria-controls="ruText" role="tab" data-toggle="tab">RU</a></li>
	</ul>
    
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="czText">
			<h2>CZ</h2>
            {snippet formCZ}
                {if isset($tab) && $tab == 'czText'}
                    {control editNewsForm}
                {/if}
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="enText">
			<h2>EN</h2>
            {snippet formEN}
                {if isset($tab) && $tab == 'enText'}
                    {control editNewsForm}
                {/if}
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="deText">
			<h2>DE</h2>
            {snippet formDE}
                {if isset($tab) && $tab == 'deText'}
                    {control editNewsForm}
                {/if}
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="ruText">
			<h2>RU</h2>
            {snippet formRU}
                {if isset($tab) && $tab == 'ruText'}
                    {control editNewsForm}
                {/if}
            {/snippet}
    	</div>
    </div>   
	<div class="offer-form">
		{snippet images}
			<div class="images">
				<br><br>
				<h2>Obrázky</h2>
				
				<button id="add-new-button" type="button" class="button btn-transparent{if $images->count() == 3} disabled{/if}" data-toggle="modal" data-target="#myModal">
					Nahrát obrázky <small>(Nahráno {$images->count()} z 3)</small>
				</button>

				<hr class="horizontal-line">

				{if $images->count() > 0}
					{foreach $images as $image}	
						<div class="image">
							<img src="{$basePath}/assets/uploads/{$image->skeleton_news_id}/preview_{$image->name}">
							<a n:if="!$image->cover" class="btn btn-primary btn-xs" n:href="setPrimary! id => $image->skeleton_news_id, image_id => $image->id, tab => czText ">Hlavní <span class="glyphicon glyphicon-star"></span></a>
							<a class="btn btn-danger btn-xs" n:href="deleteImage! id => $image->skeleton_news_id, image_id => $image->id ">Smazat <span class="glyphicon glyphicon-trash"></span></a>
						</div>
					{/foreach}
				{/if}


				<div class="modal fade" id="myModal" n:if="$images->count() < 3">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">Přidat obrázky</h4>
							</div>
							<div class="modal-body">
								{control addNewsImagesForm}
							</div>
						</div>
					</div>
				</div>
			</div>
		{/snippet}
	</div>
</div>
<div class="clear"></div>



{/block}

{block scripts}
	{include '../components/tinymce.latte'}
	<script>
		$(document).ready(function(){
			$.nette.init();
            $('.change-form').click(function(){
                var tab = $(this).children().attr('aria-controls');
                console.log(tab);
                $.nette.ajax({
                    url: {plink this},
                    method: "POST",
                    data: {
                        tab: tab
                    }
                });
            });

			var input = $('input[name="video"]'),
				valu = $('input[name="video"]').val();

			if (valu != '') {
				var video = 'https://www.youtube.com/watch?v=' + valu;
				input.val(video);
			}


            $('#dateNew').parent().css('position','relative');
            $('#dateNew').datetimepicker({
                inline: true,
                debug:true,
                sideBySide: true,
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                },
                format: 'D.M.YYYY HH:mm',
                locale: 'cs'
            });

		});
	</script>
	<script>
        $(function(){
           
        });
    </script>
{/block}