// Helpers

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
	*zoom:1;
	
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}
.clearfix { .clearfix; }
.clearfixAfter {
	clear: both;
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

// -------- Typo classes ------------- \\

// Fonts 
.bold 			{ .semiboldFont(); }
.extrabold		{ .extraboldFont(); }
.semibold		{ .semiboldFont(); }
.italic 		{ font-style: italic;}

// Basic color mixins
.black 			{ color: @black;}
.white 			{ color: @white;}

// Text decoration
.underline      { text-decoration: underline; }
.no-decoration 	{ text-decoration: none; }

// Vertical aligning
.v-middle		{ vertical-align: middle; }
.v-top			{ vertical-align: top; }

// Cursor tuning
.help 			{ cursor: help; }
.pointer 		{ cursor: pointer; }
.clear 			{ clear: both; }

// Floating 
.fl-left 		{ float: left;}
.fl-right 		{ float: right;}
.fl-none		{ float: none; }

// Text aligning
.center 		{ text-align: center }
.left 			{ text-align: left }
.right 			{ text-align: right }

// Auto center
.auto 			{ margin: 0 auto;}

// Displaying 
.block 			{ display: block; }
.inline         { display: inline;}
.inline-block 	{ display: inline-block;}
.table			{ display: table;}
.hidden 		{ display: none }

// Positioning
.fixed          { position: fixed; }
.relative 		{ position: relative;}
.absolute		{ position: absolute;}


.small 			{ font-size: 80%;}
.no-wrap 		{ white-space: nowrap; }
.full-width 	{ width: 100%; max-width: @wrapperWidth;}
.uppercase 		{ text-transform: uppercase; }
.lowercase 		{ text-transform: lowercase; }


// Disposable heplers (for each project)


/* ------------------------------------------------------------------------- */
/* margin, padding, width >>> */
/* ------------------------------------------------------------------------- */
.margin0 {margin: 0 !important}
.margin5 {margin: 5px !important}
.margin10 {margin: 10px !important}
.margin15 {margin: 15px !important}
.margin20 {margin: 20px !important}
.margin25 {margin: 25px !important}
.margin30 {margin: 30px !important}

.mt0 {margin-top: 0px !important} .mt5 {margin-top: 5px !important} .mt10 {margin-top: 10px !important} .mt15 {margin-top: 15px !important} .mt20 {margin-top: 20px !important} .mt25 {margin-top: 25px !important} .mt30 {margin-top: 30px !important} .mt40 {margin-top: 40px !important}
.ml0 {margin-left: 0px !important} .ml5 {margin-left: 5px !important} .ml10 {margin-left: 10px !important} .ml15 {margin-left: 15px !important} .ml20 {margin-left: 20px !important} .ml25 {margin-left: 25px !important} .ml30 {margin-left: 30px !important}
.mr0 {margin-right: 0px !important} .mr5 {margin-right: 5px !important} .mr10 {margin-right: 10px !important} .mr15 {margin-right: 15px !important} .mr20 {margin-right: 20px !important} .mr25 {margin-right: 25px !important} .mr30 {margin-right: 30px !important}
.mb0 {margin-bottom: 0px !important} .mb5 {margin-bottom: 5px !important} .mb10 {margin-bottom: 10px !important} .mb15 {margin-bottom: 15px !important} .mb20 {margin-bottom: 20px !important} .mb25 {margin-bottom: 25px !important} .mb30 {margin-bottom: 30px !important}

.padding0 {padding: 0 !important}
.padding5 {padding: 5px !important}
.padding10 {padding: 10px !important}
.padding15 {padding: 15px !important}
.padding20 {padding: 20px !important}
.padding25 {padding: 25px !important}
.padding30 {padding: 30px !important}

.pt0 {padding-top: 0px !important} .pt5 {padding-top: 5px !important} .pt10 {padding-top: 10px !important} .pt15 {padding-top: 15px !important} .pt20 {padding-top: 20px !important} .pt25 {padding-top: 25px !important} .pt30 {padding-top: 30px !important}
.pl0 {padding-left: 0px !important} .pl5 {padding-left: 5px !important} .pl10 {padding-left: 10px !important} .pl15 {padding-left: 15px !important} .pl20 {padding-left: 20px !important} .pl25 {padding-left: 25px !important} .pl30 {padding-left: 30px !important}
.pr0 {padding-right: 0px !important} .pr5 {padding-right: 5px !important} .pr10 {padding-right: 10px !important} .pr15 {padding-right: 15px !important} .pr20 {padding-right: 20px !important} .pr25 {padding-right: 25px !important} .pr30 {padding-right: 30px !important}
.pb0 {padding-bottom: 0px !important} .pb5 {padding-bottom: 5px !important} .pb10 {padding-bottom: 10px !important} .pb15 {padding-bottom: 15px !important} .pb20 {padding-bottom: 20px !important} .pb25 {padding-bottom: 25px !important} .pb30 {padding-bottom: 30px !important}

.opacity0 {opacity: 0.00}
.opacity5 {opacity: 0.05}
.opacity10 {opacity: 0.10}
.opacity15 {opacity: 0.15}
.opacity20 {opacity: 0.20}
.opacity25 {opacity: 0.25}
.opacity30 {opacity: 0.30}
.opacity35 {opacity: 0.35}
.opacity40 {opacity: 0.40}
.opacity45 {opacity: 0.45}
.opacity50 {opacity: 0.50}
.opacity55 {opacity: 0.55}
.opacity60 {opacity: 0.60}
.opacity65 {opacity: 0.65}
.opacity70 {opacity: 0.70}
.opacity75 {opacity: 0.75}
.opacity80 {opacity: 0.80}
.opacity85 {opacity: 0.85}
.opacity90 {opacity: 0.90}
.opacity95 {opacity: 0.95}
.opacity100 {opacity: 1.00}