// -------------- ADMIN MODULE SETTINGS -------------- \\ 

// **** SIZING **** \\

// sizing of individual elements
@adminTopStripHeight: 40px;  
@adminSideBarWidth: 220px;

@headlineWrapperHeight: 170px;


// **** COLORS **** \\

// base colors
@adminDefaultGray: #474747;
@lightTurquoise: #f0f8f8; 

// theme colors
@adminTopStripColor: darken(@adminDefaultGray, 15%);
@adminSideBarColor: @adminDefaultGray;
@adminBackgroundColor: @white;

@adminHeadlineWrapperBackground: @lightTurquoise;


// text colors
@sidebarTextColor: @white;


// **** FONTS **** \\
@droidSans: 'Droid Sans', sans-serif;



// -------------- FRONT MODULE SETTINGS -------------- \\ 

// Default colors
@gray: #cccccc;
@blue: #005996;
@yellow:#f7a940;
@darkGray: #b9b9ba;
@green: #7ee897;
@red: #c72d36;
@redActive: #ff5c66;
@freshGreen: #98bf0e;




// base color, brand color...
@baseColor: @gray;
 
// default black & white color, or the closest
@black: #000000;
@white: #ffffff;

// Other variables
@wrapperWidth: 1160px;
@headerHeight: 100px;



/*/

*** Site presets & helpers ***

/*/

//- Device screen categories (inspired by Bootstrap)-/

@320px: ~"screen and (max-width: 320px)";

// mobile devices
@480px: ~"screen and (max-width: 480px)";

// mobile devices
@640px: ~"screen and (max-width: 640px)";

// phones and tablets
@940px: ~"screen and (max-width: 940px)";

// computes
@1140px: ~"screen and (max-width: 1140px)";

// computes_
@1200px: ~"screen and (max-width: 1200px)";

// tablet+
@up940px: ~"screen and (min-width: 941px)";

// computes_
@up1140px: ~"screen and (min-width: 1141px)";





// default font families
@openSans: 'Open Sans', Arial, Helvetica, sans-serif;
@poppins: 'Poppins', Arial, Helvetica, sans-serif;
@roboto: 'Roboto', sans-serif;


// in other css use this! everywhere! (you can disable fonts for mobile etc.)
.lightFont(@fontSize: inherit, @fontFamily: inherit) {
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: 300;
}

.basicFont(@fontSize: inherit, @fontFamily: inherit) {
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: 400;
}

.italicFont(@fontSize: inherit, @fontFamily: inherit) {
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: 400;
	font-style: italic;
}

.semiboldFont(@fontSize: inherit, @fontFamily: inherit) {
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: 600;	
}

.boldFont(@fontSize: inherit, @fontFamily: inherit) {
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: 700;	
}

.extraboldFont(@fontSize: inherit, @fontFamily: inherit) {
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: 800;	
}



//- Box sizing ----------------------------------/

.borderBox() {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// Effects
.trans(@prop: all, @duration: 500ms, @function: ease-in-out) {
	-webkit-transition: @prop @duration @function;
	-moz-transition: @prop @duration @function;
	-ms-transition: @prop @duration @function;
	-o-transition: @prop @duration @function;
	transition: @prop @duration @function;
}

.transform(@trans, @origin: 50% 50% 0) {
	-webkit-transform: @trans;
	-webkit-transform-origin: @origin;
	-ms-transform: @trans;
	-ms-transform-origin: @origin;
	transform: @trans;
	transform-origin: @origin;
}

.radius(@value: 3px) {
	-webkit-border-radius: @value;
	-moz-border-radius: @value;
	-ms-border-radius: @value;
	-o-border-radius: @value;
	border-radius: @value;
}

.text-shadow(@color: #ffffff) {
	text-shadow: 0 1px 0 @color;
}

.shadow(@h: 0px, @v: 5px, @blur: 0px, @color: rgba(0, 0, 0, .5), @spread: 0px) {
	-webkit-box-shadow: @h @v @blur @spread @color;
	box-shadow: @h @v @blur @spread @color;
}

.shadow-inset(@h: 0px, @v: 5px, @blur: 0px, @color: rgba(0, 0, 0, .5), @spread: 0px) {
	-webkit-box-shadow: inset @h @v @blur @spread @color;
	box-shadow: inset @h @v @blur @spread @color;
}


.gradient(@top: white, @bottom: black) { // only top-bottom gradient
	background: -moz-linear-gradient(top, @top 0%, @bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @top), color-stop(100%, @bottom));
	background: -webkit-linear-gradient(top, @top 0%, @bottom 100%);
	background: -o-linear-gradient(top, @top 0%, @bottom 100%);
	background: -ms-linear-gradient(top, @top 0%, @bottom 100%);
	background: linear-gradient(to bottom, @top 0%, @bottom 100%);
}


//- Layout presets ----------------------------------/

.size(@wrapperWidth: 1000px, @padding: 0 20px) {
	max-width: @wrapperWidth;
	padding: @padding;
}

// --------------------------------------------------- /

.bgImg(@image: '', @size: contain, @posX: 0%, @posY: 0%, @color: '') {
	@baseUrl: '../images/';
	
	background-image: url("@{baseUrl}@{image}");
	background-position: @posX @posY;
	background-color: @color;
	background-repeat: no-repeat;
	

	& when (@size = contain) {
		background-size: contain;
	}

	& when (@size = cover) {
		background-size: cover;
	}

	& when (@size = original) {
		background-size: original;
	}

	& when (@size = 100) {
		background-size: 100% 100%;
	}
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.placeholder(@color: #eeeeee) {
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color: @color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: @color;
		opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: @color;
		opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: @color;
	}
}
