body {
	color: #000;
	font-family: @poppins;
	line-height: 1;
	font-size: 15px;
	font-weight: 300;
}

h1, .h1 {
	font-size: 37px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 20px;
}

h2, .h2 {
	font-size: 33px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 20px;
}

h3, .h3 {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 10px;
}

b, strong {
	font-weight: 600;
}

i, em {
	font-style: italic;
}

a {
	color: inherit;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

p {
	line-height: 1.3;
	margin-bottom: 10px;
}

ul {
	list-style: circle;
	margin: 0 0 10px 20px;
}

ol {
	list-style: decimal;
	margin: 0 0 10px 20px;
}

table,
ul li,
ol li {
	line-height: 1.3;
	margin-bottom: 3px;
}

small {
	font-size: 12px;
}

a, span {
	.inline-block;
}

img {
	.inline-block;
	max-width: 100%;
	&[width][height] {
		height: initial;
		height: auto;
	}
}
.mainLeftCl img[height] {
	height: auto !important;
}

hr {
	border: 0;
	height: 2px;
	background: 2px solid @red;
}

.wrapper {
	max-width: @wrapperWidth;
	width: 100%;
	.auto;
	.relative;
	.clearfix;
	@media @1200px {
		width: 90%;
	}
	//@media @940px {
	//	width: 90%;
	//}
}

.button {
	@buttonRed: #ce343e;

	.basicFont(14px);

	color: @white;
	background-color: @buttonRed;
	padding: 5px 15px;
	width: auto;
	border: 2px solid @buttonRed;
	.no-decoration;
	.uppercase;
	.borderBox;
	.block;
	.trans();
	.pointer;

	&:hover {
		color: @buttonRed;
		background-color: @white;
	}
}

.logo {
	.bgImg('png/logo.png', cover, 0%, 0%, purple);
} 

