/* font-family:'Open Sans', sans-serif */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800&subset=latin,latin-ext);
/* ------------------------------------------------------------------------- */
/* margin, padding, width >>> */
/* ------------------------------------------------------------------------- */
.margin0 {
  margin: 0;
}
.margin5 {
  margin: 5px;
}
.margin10 {
  margin: 10px;
}
.margin15 {
  margin: 15px;
}
.margin20 {
  margin: 20px;
}
.margin25 {
  margin: 25px;
}
.margin30 {
  margin: 30px;
}
.mt0 {
  margin-top: 0px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.ml0 {
  margin-left: 0px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.mr0 {
  margin-right: 0px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.padding0 {
  padding: 0;
}
.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.padding15 {
  padding: 15px;
}
.padding20 {
  padding: 20px;
}
.padding25 {
  padding: 25px;
}
.padding30 {
  padding: 30px;
}
.pt0 {
  padding-top: 0px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pl0 {
  padding-left: 0px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pr0 {
  padding-right: 0px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.w10 {
  width: 10%;
}
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
}
.lfloat {
  float: left;
}
.rfloat {
  float: right;
}
.cleaning {
  clear: both;
}
a {
  text-decoration: underline;
  color: #000000;
}
div {
  position: relative;
}
* {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
}
style,
script {
  display: none;
}
table {
  display: table;
}
t{
  display: table-row-group;
}
tr {
  display: table-row;
}
td,
th {
  display: table-cell;
  vertical-align: top;
}
table,
tbody,
tr,
td,
th {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
ul li {
  display: list-item;
  margin-left: 10px;
}
img {
  border: 0;
  outline: 0;
}
p {
  padding: 0px 0 0px 0;
}
i,
b,
u,
strong,
sup,
sub,
em {
  display: inline;
}
a,
span {
  display: inline-block;
}
button {
  display: inline-block;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.parallax-mirror {
  background: #fff;
}
/* 
landscape phone to portrait tablet
@smallScreens: ~"screen and (max-width: 768px)"; 
*/
/*
 portrait tablet to landscape and small desktop
@normalScreens: ~"screen and (min-width: 769px) and (max-width: 940px)";
*/
.clearfixAfter {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.lfloat {
  float: left;
}
.rfloat {
  float: right;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.noDecoration {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
p {
  font-weight: 300;
  line-height: 1.1;
}
p {
  line-height: 1.4;
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: 400;
}
td,
th {
  line-height: 1.4;
  margin: 0 0 0 0;
  font-size: 14px;
  font-weight: 400;
}
th {
  font-weight: 800;
}
img {
  max-width: 100%;
  height: auto;
}
b,
strong {
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: circle;
  margin: 0 0 15px 0;
}
ul li {
  line-height: 18px;
  margin: 0 0 0px 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
a {
  text-decoration: underline;
}
.text_bigger { font-size: 1.25em; }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: medium;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.hidden_h {
  position: absolute;
  left: -10000px;
}
h2,
.h2 {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}
h2 span,
.h2 span {
  color: #00a8e8;
}
h2.red,
.h2.red {
  color: #00a8e8;
}
h2.red span,
.h2.red span {
  color: #000000;
}
h3,
.h3 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}
h3.blue,
.h3.blue {
  color: #00a8e8;
}
h4,
.h4,
.nadp1 {
  /*.uppercase;*/
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}
h4.blue,
.h4.blue,
.nadp1.blue {
  color: #00a8e8;
}
.link-1 {
  margin: 5px 0 10px 0;
}
.link-1.right {
  text-align: right;
}
.link-1 a {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #00a8e8;
  line-height: 16px;
  padding-left: 15px;
  text-decoration: none;
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
.link-1 a::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(img/keyboard53.png) bottom 30% left 0 no-repeat;
  background-size: auto 70%;
}
.link-1 a:hover {
  text-decoration: underline;
  color: #0096cf;
}
.link-2 {
  margin: 5px 0 10px 0;
}
.link-2.right {
  text-align: right;
}
.link-2 a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding: 10px 27px 10px 20px;
  background: url(img/arrow487.png) top 50% right 7px no-repeat;
  background-size: auto 7px;
  background-color: #00a8e8;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;
}
.link-2 a:hover {
  background-color: #0083b5;
}