{block content}
<div class="wrapper gallery-list">
	<div class="row p-h-16">
        <div class="col-md-4 col-md-push-8 mainRightCl gallery">
            <div class="gray-block">
                 {include '../components/breadcrumbArticles.latte' data => $breadcrumb, class => 'mt5 mb10'}
                <div class="side-filters">
                    <h2>{_}Filtrování galerie{/_}</h2>
                    <p>
                      <input id="switch-category_foto" name="category_foto" type="checkbox" class="news-filter" data-handle-width="27" data-label-width="16">
                      <span data-switch-toggle="category_foto">{_}Foto{/_}</span>
                    </p>
                    <p>
                      <input id="switch-category_video" name="category_video" type="checkbox" class="news-filter" data-handle-width="27" data-label-width="16">
                      <span data-switch-toggle="category_video">{_}Video{/_}</span>
                    </p>
                    <p>
                      <input id="switch-category_kultura" name="category_kultura" type="checkbox" class="news-filter" data-handle-width="27" data-label-width="16">
                      <span data-switch-toggle="category_kultura">{_}Kultura{/_}</span>
                    </p>
                    <p>
                      <input id="switch-category_sport" name="category_sport" type="checkbox" class="news-filter" data-handle-width="27" data-label-width="16">
                      <span data-switch-toggle="category_sport">{_}Sport{/_}</span>
                    </p>
                </div>
                <div class="row p-v-8 mt10 sideNews">
                    {foreach $sideNews as $new}

                        {var $headline = 'headline_'.$lang}
                        {if !$new->$headline}{var $headline = 'headline_'.$presets->news['requiredLang']}{/if}
                        {var $headline = $new->$headline}
                        {var $slug = $new->id . '/' . Nette\Utils\Strings::webalize($headline)}
                        {var $url = $frontApp->getPageById(64)->url.'/'.$slug}

                        <div class="col-md-12 col-sm-6 col-sm-12">
                            <div class="newsSmallBlock">
                                {if $new->images}
                                    <a class="img" style="background-image: url({!$basePath|noescape}/assets/uploads/{$new->id}/preview_{$new->images|noescape})" href="{$url}"></a>
                                {elseif $new->video_thumb}
                                    <a class="img" style="background-image: url({$new->video_thumb|noescape})" href="{$url}"></a>
                                {else}
                                    <a class="img" style="background-image: url({!$basePath|noescape}/assets/images/jpg/someimg1.jpg)" href="{$url}"></a>
                                {/if}
                                <div class="note">
                                    <span class="type">{_}{$new->section}{/_}</span>
                                    <a class="link" href="{$url}">{$headline}</a>
                                </div>
                            </div>
                        </div>

                    {/foreach}
                </div>
                {include '../components/eventCalendar.latte'}
            </div>
            {include '../components/sideLogos.latte'}
        </div>
        <div class="col-md-8 col-md-pull-4 mainLeftCl">
            <h1>{_}Galerie{/_}</h1>
            {if $gallery}
            <div class="row p-h-20 p-v-40">
            {foreach $gallery as $page}
                {var $headline = 'headline_'.$lang}
                {if !$page->$headline}{var $headline = 'headline_'.$presets->news['requiredLang']}{/if}
                {var $headline = $page->$headline}
                {var $slug = $page->id . '/' . Nette\Utils\Strings::webalize($headline)}
                {var $url = $pageUrl.'/'.$slug}
                <div class="gpage col-md-6">
                    <div class="relative">
                        <div class="backshadwrap">
                            <div class="shad1"></div>
                            <div class="shad2"></div>
                        </div>
                        <a href="{$url}" title="{$headline}">
                            <div class="relative">
                                <div class="imgw">
                                    {if $page->images}
                                        <span class="img" style="background-image: url({!$basePath|noescape}/assets/uploads/g{$page->id}/preview_{$page->images|noescape})" href="{$url}" title="{$headline}"></span>
                                    {elseif $page->video_thumb}
                                        <span class="img" style="background-image: url({$page->video_thumb|noescape})" href="{$url}" title="{$headline}"></span>
                                    {else}
                                        <span class="img" style="background-image: url({!$basePath|noescape}/assets/images/jpg/someimg1.jpg)" href="{$url}"></span>
                                    {/if}
                                    <span class="date">{$page->date->format('j. n. Y')}</span>
                                </div>
                                <div class="headline">
                                    <h2>{$headline}</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {/foreach}
            </div>
            {include '../components/paginator.latte'}
            {/if}
        </div>
	</div>
</div>
{/block}

