{block content}

{var $headline = 'headline_'.$lang}
{if !$gpage->$headline}{var $headline = 'headline_'.$presets->news['requiredLang']}{/if}
{var $headline = $gpage->$headline}

{var $text = 'text_'.$lang}
{if !$gpage->$text}{var $text = 'text_'.$presets->news['requiredLang']}{/if}




<div class="wrapper gallery-detail">
    <div class="row mt30">
        <div class="col-md-8 col-xs-12">
            <h1 n:block="gpage-title">{$headline}</h1>
            <div class="clearfix">
                <p class="date-wrap fl-left mr30">
                    <span class="date date-text">{_}Přidáno{/_}</span>
                    <span class="date date-added">{$gpage->date->format('j. n. Y')}</span>
                </p>
                <div class="fb-like fl-left mt5 mb30" data-href="{$baseUrl}/{$lang_url}{end($breadcrumb)->url}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <a href="{$frontApp->getPageById(65)->url}" class="move-back-to-list st-link-1 mt10 uppercase">< {_}Zpět do galerie{/_}</a>
        </div>
    </div>
    {if $gpage->$text}
    <div class="gpage-text mb30">
        {$gpage->$text|noescape}
    </div>
    {/if}
    {if $gpage->video}
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <iframe class="yt-video" width="100%" height="425" src="http://www.youtube.com/embed/{$gpage->video}"></iframe>
        </div>
    </div>
    {/if}
    <div class="baguetteBoxOne row row p-h-24 p-v-24">
        {foreach $gpage->images as $image}
            <div class="col-md-4 col-xs-6">
                <a class="gallery" href="{$basePath}/assets/uploads/g{$gpage->id}/s1200_{$image->name}"
                    data-caption="{if isset($image->title)}{$image->title}{else}{$headline}{/if}"
                    data-at-400="{$basePath}/assets/uploads/g{$gpage->id}/s200_{$image->name}"
                    data-at-600="{$basePath}/assets/uploads/g{$gpage->id}/s400_{$image->name}"
                    data-at-800="{$basePath}/assets/uploads/g{$gpage->id}/s800_{$image->name}"
                    data-at-1000="{$basePath}/assets/uploads/g{$gpage->id}/s1200_{$image->name}">
                    <img class="image" src="{$basePath}/assets/uploads/g{$gpage->id}/preview_{$image->name}" alt />
                </a>
            </div>
        {/foreach}
    </div>
</div>
{/block}