.map-iframe {
	width: 100%;
	height: 350px;
	border: 0;
}

.gray-strip {
	@stripGray: #fafafa;
	background: @stripGray;
	background: url(../images/png/gray-stripe.png) 0 0 repeat;
	padding: 40px 0;
	h2 { margin-bottom: 0; }
	p, address  {  line-height: 22px;}
}

.contacts {
	.contact-col {
		margin-bottom: 50px;
		min-height: 290px; 
		text-align: center;
		@media screen and (max-width: @screen-xs) {
			width: 100%;
		}
	}

	.contact 		{ .block; line-height: 20px; margin: 0; }
	.contact-img 	{ .inline-block; }

	.contact-name {
		margin: 10px 0 0;
		color: @red;
		.boldFont(@openSans, 18px);
	}

	.contact-position {
		.italicFont(@openSans, 18px);
	}

	.contact-phone a, .contact-email a { .no-decoration;
		&:hover {
			.underline;
		}
	}
}
