<div class="adminbar">
    <div class="wrapper">
        <div class="clearfix">
            <div class="fl-left">
                <a n:href="Homepage:" title="{$presets->projectName}" class="project-name">
                    {$presets->projectName}
                    <span class="powered">powered by mediastudio</span>
                </a>
            </div>
            <div class="fl-right">
                <div class="login-info">
                    Přihlášen <em>{$presenter->user->getIdentity()->username}</em>.
                    <a n:href="Admin:Dashboard:" target="_blank" class="ml20">Administrace <span class="glyphicon glyphicon-log-in"></span></a>
                    <a n:href="Sign:out" class="ml20">Odhlásit se <span class="glyphicon glyphicon-log-out"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>