{if $data}
    <div class="breadcrumb{if $class} {$class}{/if}">
        <a n:href="Homepage:">kvarena.cz</a>
        {foreach $data as $i}
        {if isset($i->menuText)}
            <span>></span>
            <a href="{$baseUrl}/{$lang_url}{$i->url}">{$i->menuText}</a>
        {/if}
        {/foreach}
    </div>
{/if}