{if $data}
    <li data-id="{$data->id}">
    <a href="{$data->url}">{$data->name}</a>
    {*<a n:href="Articles:">{$data->name}</a>*}
    {if isset($data->subs)}
        {include 'classicMenu.latte', data => $data->subs, class => ''}
    {/if}
    </li>
{/if}