<script src='https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.6.1/dist/cookieconsent.js'></script>
<script n:syntax="off">
	var cookieconsent = initCookieConsent();
	cookieconsent.run({
		current_lang : 'cs',
		page_scripts: true,

		autorun : true,
		delay : 0,
		autoclear_cookies : true,

		theme_css : 'https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.6.1/dist/cookieconsent.css',

		gui_options: {
			consent_modal : {
				layout : 'cloud',               // box/cloud/bar
				position : 'bottom center',     // bottom/top + left/right/center
				transition: 'slide'             // zoom/slide
			},
			settings_modal : {
				layout : 'box',                 // box/bar
				transition: 'slide',            // zoom/slide
			}
		},

		onAccept: function(cookies){
			if(cookieconsent.allowedCategory('necessary')){
				var dataLayer = window.dataLayer || [];
				dataLayer.push({
					event:"CookieConsent",
					consentType:"necessary"
				});
			}


			if(cookieconsent.allowedCategory('tracking')){
				var dataLayer = window.dataLayer || [];
				dataLayer.push({
					event:"CookieConsent",
					consentType:"tracking"
				});
			}

			if(cookieconsent.allowedCategory('performance')){
				var dataLayer = window.dataLayer || [];
				dataLayer.push({
					event:"CookieConsent",
					consentType:"performance"
				});
			}


		},

		languages : {
			'cs' : {
				consent_modal : {
					title :  "Nastavení soukromí",
					description :  'Kliknutím na tlačítko "Povolit vše" souhlasíte s ukládáním souborů cookie do vašeho zařízení, což pomáhá při navigaci na webu, analýze využití dat a našich marketingových aktivitách.',
					primary_btn: {
						text: 'Povolit vše',
						role: 'accept_all'  //'accept_selected' or 'accept_all'
					},
					secondary_btn: {
						text : 'Podrobné nastavení',
						role : 'settings'   //'settings' or 'accept_necessary'
					}
				},
				settings_modal : {
					title : 'Nastavení cookies',
					save_settings_btn : "Uložit preference",
					accept_all_btn : "Přijmout vše",
					close_btn_label: "Zavřít",
					cookie_table_headers : [
                        {col1: "Cookie" },
                        {col2: "Description" },


					],
					blocks : [
						{
							title : "Používáme cookies",
							description: 'Soubory cookie používáme k analýze údajů o návštěvnících, ke zlepšování našich webových stránek, k zobrazování personalizovaného obsahu a k tomu, abychom vám poskytli skvělý zážitek z webových stránek. Používáním těchto webových stránek s tímto používáním souhlasíte.',
						},{
							title : "Funkční soubory cookies",
							description: 'Tyto soubory cookie jsou nezbytné pro fungování webových stránek, takže je nelze zakázat. Obvykle jsou nastaveny v reakci na akci, kterou na Webových stránkách sami provedete, například nastavení zabezpečení, přihlášení a vyplnění formulářů. Svůj prohlížeč můžete nastavit tak, aby soubory cookie blokoval nebo aby o nich zasílal oznámení. Mějte na paměti, že některé stránky nebudou bez těchto souborů fungovat. Tyto soubory cookie neukládají žádné informace, které by bylo možné přiřadit ke konkrétní osobě. Tyto soubory cookie můžeme nastavit my nebo poskytovatelé třetích stran, jejichž služby na webových stránkách využíváme. Tyto soubory cookie neukládají žádné informace, které by bylo možné přiřadit ke konkrétní osobě.',
							toggle : {
								value : 'nezbytné',
								enabled : true,
								readonly: true
							},
							cookie_table: [
								{
									col1: 'cc_cookie',
									col2: 'Předvolby souborů cookie v tomto dialogovém okně.'
								}
							]
						},{
							title : "Analytické cookies",
							description: 'Tyto soubory cookie se používají ke zlepšení fungování webových stránek. Umožňují nám rozpoznat a sledovat počet návštěvníků a sledovat, jak návštěvníci Webové stránky používají. Pomáhají nám zlepšovat fungování Webových stránek, například tím, že uživatelům umožňují snadno najít to, co hledají. Tyto soubory cookie neshromažďují informace, které by vás mohly identifikovat. Pomocí těchto nástrojů analyzujeme a pravidelně zlepšujeme funkčnost našich Webových stránek. Získané statistiky můžeme využít ke zlepšení uživatelského komfortu a k tomu, aby pro vás jako uživatele byla návštěva Webových stránek zajímavější.',
							toggle : {
								value : 'výkon',
								enabled : true,
								readonly: false
							},
							cookie_table: [
								{
									col1: '_ga/_ga*, _gid',
									col2: 'Google Analytics - ukládat a počítat zobrazení stránek.',
								},
								{
									col1: '_gcl_au',
									col2: 'Google Tag Manager - Funkčnost konverzního linkeru',
								}
							]
						},{
							title : "Marketingové cookies",
							description: 'Používají se ke sledování preferencí uživatele webových stránek za účelem cílení reklamy, tj. zobrazování marketingových a reklamních sdělení (i na stránkách třetích stran), která mohou být pro návštěvníka webových stránek zajímavá, v souladu s těmito preferencemi. Marketingové soubory cookie využívají nástroje externích společností. Tyto marketingové soubory cookie se používají pouze s vaším souhlasem.',
							toggle : {
								value : 'sledování',
								enabled : false,
								readonly: false
							},
							cookie_table: [
								{
									col1: '_fbp',
									col2: 'Facebook Pixel -  zobrazení reklamy na Facebooku nebo na digitální platformě využívající reklamu Facebooku po návštěvě webové stránky.',
								},
							]
						}
					]
				}
			}
		}
	});

	if(!cookieconsent.validCookie('cc_cookie')){
		var dataLayer = window.dataLayer || [];
		dataLayer.push({
			event:"CookieConsent",
			consentType:"empty"
		});

	}


</script>