<footer>
    <div class="wrapper clearfix">
        <p class="footer-nav">
            <a href="{$frontApp->getPageById(113)->url}">Ochrana osobních údajů</a>
                |
            <a href="{$frontApp->getPageById(114)->url}">Informace pro spotřebitele</a>
        </p>
        <p class="footer-copyright">© Copyright 2023 AK-Rovenská </p>
    </div>
{*    <div class="copyright">*}
{*        <a rel="author" href="http://mediastudio.cz/" target="_blank"><span>{date(Y)} © {_}tvorba www stránek{/_}</span><img src="http://mediastudio.cz/mediastudio_white.png" alt /></a>*}
{*    </div>*}
</footer>