<header class="header">
    <div class="wrapper navigate">
        <div class=" second-row  clearfix">
{*            <div class="head-logo inline-block">*}
{*                <a n:href="Homepage:">*}
{*                    <img src="{$basePath}/assets/images/png/logo.png" height="73" alt="logo {$presets->projectName}">*}
{*                </a>*}
{*            </div>*}
            <div class="head-nav">
                <div class="burgetmenu">
                    <a>
                        <div class="wrap">
                            <div class="line top"></div>
                            <div class="line btm"></div>
                        </div>
                    </a>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="{$frontApp->getPageById(110)->url}#korporatni-pravo">Korporátní právo</a>
                        </li>
                        <li>
                            <a href="{$frontApp->getPageById(110)->url}#pravo-nemovitosti">Právo nemovitostí</a>
                        </li>
                        <li>
                            <a href="{$frontApp->getPageById(110)->url}#trestni-pravo">Trestní právo</a>
                        </li>
                        <li>
                            <a href="{$frontApp->getPageById(110)->url}#ochrana-osobnich-udaju">Ochrana osobních údajů</a>
                        </li>
                        <li>
                            <a href="{$frontApp->getPageById(110)->url}#zavazkove-pravo">Závazkové právo</a>
                        </li>
                        <li>
                            <a href="{$frontApp->getPageById(110)->url}#kontakt">Kontakt</a>
                        </li>
                    </ul>
{*                    {$frontApp->printMenu(20,'components/classicMenu.latte')}*}
                </nav>
            </div>
        </div>
    </div>
    <div class="head-logo">
        <div class="wrapper">
            <div class="cc">
                <a href="{$frontApp->getPageById(110)->url}">
                    <img src="{$basePath}/assets/images/svg/akrovenska-logo.svg" alt="Advokátní kancelář Mgr. Nikola Rovenská" />
                </a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="head-motto">Advokátní kancelář poskytuje služby v oblasti občanského, korporátního a trestního práva, a dále v oblasti ochrany osobních údajů</div>
    </div>
{*    {if isset($page)}*}
{*        {include 'layerslider.latte' data => $frontApp->getSlider(1), homepage => $page->homepage}*}
{*    {else}*}
{*        {include 'layerslider.latte' data => $frontApp->getSlider(1)}*}
{*    {/if}*}
</header>