{*<link rel="shortcut icon" href="{!$basePath}/assets/icons/favicon.png">*}
<link rel="apple-touch-icon" sizes="180x180" href="{="$basePath/assets/icons/apple-touch-icon.png"|version}">
<link rel="icon" type="image/png" sizes="32x32" href="{="$basePath/assets/icons/favicon-32x32.png"|version}">
<link rel="icon" type="image/png" sizes="16x16" href="{="$basePath/assets/icons/favicon-16x16.png"|version}">
<link rel="manifest" href="{="$basePath/assets/icons/site.webmanifest"|version}">
<link rel="mask-icon" href="{="$basePath/assets/icons/safari-pinned-tab.svg"|version}" color="#000000">
<link rel="shortcut icon" href="{="$basePath/assets/icons/favicon.ico"|version}">
<meta name="msapplication-TileColor" content="#ffffff">