<script src='https://cdn.jsdelivr.net/gh/orestbida/iframemanager@v1.1.0/dist/iframemanager.js'></script>
<script n:syntax="off">



    // get module
    var manager = iframemanager();

    manager.run({
        currLang: 'en',
        // autoLang: true,
        services : {
            googlemaps: {

                embedUrl: 'https://www.google.com/maps/embed?pb={data-id}',
                iframe: {
                    allow : 'picture-in-picture; fullscreen;'
                },
                cookie: {
                    name: 'cc_maps'
                },
                languages: {
                    'en' : {
                        notice: 'Tento obsah je hostován třetí stranou. Zobrazením externího obsahu souhlasíte se <a rel="noreferrer" href="https://policies.google.com/technologies/cookies?hl=cs" title="Terms and conditions" target="_blank">smluvními podmínkami</a> maps.google.com',
                        loadBtn: 'Načíst mapu',
                        loadAllBtn: 'Načíst a už se neptat'
                    }
                }
            }
        }
    });



</script>