{if $data}
    <div class="layerslider">
        <div id="layerslider_info" style="width:100%;height: 360px;">
            <div n:foreach="$data as $i" class="ls-slide" data-ls="slidedelay:8000;transition2d:15,16;">
                <img src="{$basePath}/assets/uploads/slides/{$i->image}" class="ls-bg" alt />
                <p n:if="empty($i->p1) === false" class="ls-l" style="top:70px;left:50%;font-size:31px;color:white;white-space: nowrap;" data-ls="offsetyin:top;durationin:1500;delayin:0;easingin:easeInOutQuart;fadein:false;durationout:1000;fadeout:false;">{$i->p1}</p>
                <p n:if="empty($i->p2) === false" class="ls-l" style="top:135px;left:50%;font-size:24px;color:white;max-width: 470px;text-align:center;" data-ls="offsetxin:left;durationin:1500;delayin:0;easingin:easeInOutQuart;fadein:false;durationout:1000;fadeout:false;">{$i->p2}</p>
                <a n:if="empty($i->p3) === false" class="ls-l" href="{$i->url}" style="top:235px;left:50%;font-size:20px;font-weight:600;color:black;background:white;padding:17px 32px;white-space: nowrap;text-decoration:none;opacity: .7;" data-ls="offsetyin:bottom;durationin:1500;delayin:0;easingin:easeInOutQuart;fadein:false;durationout:1000;fadeout:false;">{$i->p3}</a>
                {*<a n:if="empty($i->url) === false" href="{$i->url}" class="ls-link"></a>*}
            </div>
            {*<div class="ls-slide" data-ls="slidedelay:8000;transition2d:15,16;">*}
                {*<img src="{$basePath}/assets/images/jpg/slider1.jpg" class="ls-bg" alt />*}
            {*</div>*}
            {*<div class="ls-slide" data-ls="slidedelay:8000;transition2d:15,16;">*}
                {*<img src="http://carpoint.cz/vw2016/cms/public/galerie-img/s1709bhCmOxodyDtvzjR6lrZW4ig58GFpTNSLfHB3A.jpg" class="ls-bg" alt />*}
            {*</div>*}
        </div>
    </div>
{/if}