  <script src="{$basePath}/assets/layerslider/js/greensock.js" type="text/javascript"></script>
  <script src="{$basePath}/assets/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
  <script src="{$basePath}/assets/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('#layerslider_1').layerSlider({
                  skinsPath : '{!$basePath}/assets/layerslider/skins/',
                  skin: 'fullwidth',
                  autoStart : true,
                  navButtons : false,
                  thumbnailNavigation : 'disabled',
                  pauseOnHover : false,
                  showBarTimer : false,
                  showCircleTimer : true,
                  navStartStop : false,
                  firstLayer : 1,
                  slideDelay : 8000,
                  navPrevNext : true,
                  hoverPrevNext : false,
                  responsive : false,
                  responsiveUnder : 1400,
                  sublayerContainer : 960
          });

          $('#layerslider_info').layerSlider({
                  skinsPath : '{!$basePath}/assets/layerslider/skins/',
                  skin: 'fullwidth',
                  autoStart : true,
                  navButtons : false,
                  thumbnailNavigation : 'disabled',
                  pauseOnHover : false,
                  showBarTimer : false,
                  showCircleTimer : true,
                  navStartStop : false,
                  firstLayer : 1,
                  slideDelay : 8000,
                  navPrevNext : true,
                  hoverPrevNext : false,
                  responsive : false,
                  responsiveUnder : 1400,
                  sublayerContainer : 960
          });
      });
    </script>