{if $data}
    {var $height = 437}
    {if isset($homepage)}
        {if (bool)$homepage === FALSE}
            {var $height = 260}
        {/if}
    {/if}
    <div class="layerslider">
        <div id="layerslider_1" style="width:100%;height: {$height}px;">
            <div n:foreach="$data as $i" class="ls-slide" data-ls="slidedelay:8000;transition2d:15,16;">
                <img src="{$basePath}/assets/uploads/slides/{$i->image}" class="ls-bg" alt />
                <a n:if="empty($i->url) === false" href="{$i->url}" class="ls-link"></a>
            </div>
            {*<div class="ls-slide" data-ls="slidedelay:8000;transition2d:15,16;">*}
                {*<img src="{$basePath}/assets/images/jpg/slider1.jpg" class="ls-bg" alt />*}
            {*</div>*}
            {*<div class="ls-slide" data-ls="slidedelay:8000;transition2d:15,16;">*}
                {*<img src="http://carpoint.cz/vw2016/cms/public/galerie-img/s1709bhCmOxodyDtvzjR6lrZW4ig58GFpTNSLfHB3A.jpg" class="ls-bg" alt />*}
            {*</div>*}
        </div>
    </div>
{/if}