{var $paginatorUrl = $basePath.'/'.$lang_url.$pageUrl}

{define #li}
<li n:class="$i == $current ? active">
	<a href="{$paginatorUrl}/{$i}" n:tag-if="$i != $pageNumber"><span>{$i}</span></a>
</li>
{/define}


{block}
<ul n:if="$paginator->itemCount > $paginator->itemsPerPage" class="paginator">
	{var $pages = ceil($paginator->itemCount / $paginator->itemsPerPage)}
	{var $current = $paginator->page}
	{var $visibleNumber = 3}
	
	{*<li n:class="$paginator->first ? active, paginator-arrow" title="Předchozí"><a n:href="this pageNumber => ($paginator->page - 1)" n:tag-if="!$paginator->first"><span>‹</span></a></li>*}
	{*<li n:class="$paginator->first ? active, paginator-arrow" title="První"><a n:href="this pageNumber => 1" n:tag-if="!$paginator->first"><span>«</span></a></li>*}
	<li n:class="$paginator->first ? active, paginator-arrow" title="Předchozí"><a href="{$paginatorUrl}/{$paginator->page - 1}" n:tag-if="!$paginator->first"><span>‹</span></a></li>
	<li n:class="$paginator->first ? active, paginator-arrow" title="První"><a href="{$paginatorUrl}/1" n:tag-if="!$paginator->first"><span>«</span></a></li>

	{if $pages > 6}
		{if ($current - 1) > 1 && ($current + 1) < $pages}
			<li class="disabled"><span>&hellip;</span></li>
			{for $i = ($current - 1); $i <= ($current + 1); $i++}
				{include #li, current => $current, i => $i, pageNumber => $paginator->page}
			{/for}
			<li class="disabled"><span>&hellip;</span></li>
		{elseif ($current + 1) >= $pages}
			<li class="disabled"><span>&hellip;</span></li>
			{if $pages - $current == 0}
				{for $i = ($current - 2); $i <= $pages; $i++}
					{include #li, current => $current, i => $i, pageNumber => $paginator->page}
				{/for}
			{else}
				{for $i = ($current - 1); $i <= $pages; $i++}
					{include #li, current => $current, i => $i, pageNumber => $paginator->page}
				{/for}
			{/if}
		{else}
			{if $current == 1} 
				{for $i = 1; $i <= ($current + 2); $i++}
					{include #li, current => $current, i => $i, pageNumber => $paginator->page}
				{/for}
			{else}
				{for $i = 1; $i <= ($current + 1); $i++}
					{include #li, current => $current, i => $i, pageNumber => $paginator->page}
				{/for}
			{/if}
			<li class="disabled"><span>&hellip;</span></li>
		{/if}
	{else}
		{for $i = 1; $i <= $pages; $i++}
			{include #li, current => $current, i => $i, pageNumber => $paginator->page}
		{/for}
	{/if}

	{*<li n:class="$paginator->last ? active, paginator-arrow" title="Poslední"><a n:href="this pageNumber => $pages" n:tag-if="!$paginator->last"><span>»</span></a></li>*}
	{*<li n:class="$paginator->last ? active, paginator-arrow" title="Další"><a n:href="this pageNumber => ($paginator->page + 1)" n:tag-if="!$paginator->last"><span>›</span></a></li>*}
	<li n:class="$paginator->last ? active, paginator-arrow" title="Poslední"><a href="{$paginatorUrl}/{$pages}" n:tag-if="!$paginator->last"><span>»</span></a></li>
	<li n:class="$paginator->last ? active, paginator-arrow" title="Další"><a href="{$paginatorUrl}/{($paginator->page + 1)}" n:tag-if="!$paginator->last"><span>›</span></a></li>
</ul>