                <div class="sideLogos">
                    <div class="center mt25 mb25">
                        <a n:tag-if="0" href="#" target="_blank">
                            <img src="{$basePath}/assets/images/jpg/bareau.jpg" alt="bareau" />
                        </a>
                    </div>
                    <div class="center mt25 mb25">
                        <a href="http://www.mmkv.cz/" target="_blank">
                            <img src="{$basePath}/assets/images/png/kv-logo.png" alt="karlovy vary" />
                        </a>
                    </div>
                </div>