.redColor {
	color: @red;
}

.st-link-1 {
	color: @red;
	font-size: 17px;
	font-weight: 700;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.layerslider {
	@media screen and (max-width: @screen-sm) {
		display: none;
	}
}

.hp-row-1 {
	border-top: 1px solid #737373;
	border-bottom: 1px solid #737373;
	padding-top: 50px;
	padding-bottom: 20px;

	.list {
		margin: 0 0 50px 0;
		line-height: 1.81;
		font-size: 17px;
		li {
			list-style: none;
			position: relative;
			padding: 0 0 0 22px;
			font-weight: 400;
			line-height: 1.7;
			&::before {
				content: ">";
				position: absolute;
				margin-left: -22px;
			}
		}
	}

	.long-text {
		font-weight: 400;
		&,p {
			line-height: 1.7;
		}
		font-size: 17px;
	}

}
.hp-row-2 {
	padding: 70px 0 35px 0;
	.center;
	font-size: 17px;
	&,p {
		line-height: 1.7;
	}
}

div[data-service] .c-n-t .cc-text {
	text-align: center !important;
}

.arrowToScroll {
	a {
		.pointer;
		.absolute;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		margin: -18px auto 0 auto;
		left: 0;
		right: 0;
		z-index: 50;
		text-indent: -9999px;
		background: url(../images/png/arrows/down-arrow.png) 50% 55% no-repeat;
		background-size: 18px auto;
		background-color: @red;
		.trans(all, 100ms);
		&:hover {
			background-color: @redActive;
		}
	}
}

.infoBox {
	border: 6px solid #e4e4e4;
	padding: 19px 20px;
}

.alertBox {
	padding: 20px 20px 10px;
	border: 6px solid @red;
	color: @red;
	.mt25;
	.mb30;
}

.gray-stripe {
	background: url(../images/png/gray-stripe.png) 0 0 repeat;
	padding: 35px 0 60px 0;
	hr {
		background: @white;
	}
}

.newsSmallBlock {
	.img {
		.block;
		width: 100%;
		height: 163px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-size: cover;
	}
	.note {
		background: @red;
		.type {
			.fl-left;
			.relative;
			.uppercase;
			color: @white;
			font-size: 20px;
			padding: 0 12px;
			font-weight: 400;
			line-height: 32px;
			background: #818285;
			&::after {
				.block;
				.absolute;
				content: ' ';
				top: 0;
				left: 100%;
				border-left: 10px solid #818285;
				border-bottom: 32px solid transparent;
			}
		}
		.link {
			.block;
			.relative;
			color: @white;
			font-size: 17px;
			line-height: 32px;
			padding: 0 33px 0 23px;
			text-decoration: none;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 100%;
			&::after {
				.block;
				.absolute;
				content: ' ';
				right: 2px;
				top: 2px;
				width: 28px;
				height: 28px;
				border-radius: 100%;
				background: url(../images/png/arrows/right-arrow-gray.png) 55% 50% no-repeat;
				background-size: 13px auto;
				background-color: @white;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.newsMediBlock {
	background: @white;
	.img {
		.block;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-size: cover;
		&::before {
			.block;
			content: ' ';
			padding-top: 56.76%;
		}
	}
	.anotWrap {
		padding: 28px 25px 15px 25px;
		min-height: 147px;
	}
	.title {
		font-size: 21px;
		font-weight: 700;
		margin-bottom: 20px;
		line-height: 1.21;
	}
	.anotate {
		margin-bottom: 17px;
	}
}

.breadcrumb {
	padding: 5px 0 5px 13px;
	a, span {
		line-height: 1.3;
		.inline-block;
		color: #a0a0a0;
		.lowercase;
	}
	span {
		.transform(translateY(1px));
	}
	a {
		text-decoration: none;
		&:last-child {
			color: #7f7f7f;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.sideNav {
	margin-bottom: 30px;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0;
		}
	}
	& > ul > li {
		& > a {
			.trans(all, 150ms);
			margin-bottom: 4px;
			text-decoration: none;
			padding-left: 40px;
			line-height: 40px;
			font-weight: 600;
			font-size: 16px;
			background: @white;
			color: @red;
			.relative;
			.block;
			&::before {
				.block;
				.absolute;
				content: ' ';
				top: 6px;
				left: 6px;
				width: 27px;
				height: 27px;
				border-radius: 100%;
				background: url(../images/png/arrows/right-arrow-red.png) 55% 50% no-repeat;
				background-size: 13px auto;
				background-color: #d9d9d9;
				.trans(all, 200ms);
			}
			&:hover {
				background: #7f7f7f;
				color: @white;
			}
		}
		&.active {
			& > a {
				background: #7f7f7f;
				color: @white;
				&::before {
					background-color: @red;
					background-image: url(../images/png/arrows/right-arrow-white.png);
				}
			}
			& > ul {
				display: block;
			}
		}
		& > ul {
			display: none;
			& > li {
				margin-left: 40px;
				& > a {
					.trans(all, 150ms);
					margin-bottom: 4px;
					text-decoration: none;
					padding-left: 18px;
					line-height: 40px;
					font-weight: 600;
					font-size: 16px;
					background: @white;
					color: @red;
					.block;
				}
				&.active > a,
				&:hover > a {
					background: #7f7f7f;
					color: @white;
				}
			}
		}
	}
}

.mainLeftCl {
	.mt20;
	margin-bottom: 130px;
}
.mainRightCl {
	.mb30;
	.gray-block {
		padding: 8px;
		background: #d9d9d9;
	}
	@media @940px {
		.sideLogos { display: none; }
		&.gallery .sideNews,
		&.article .sideNews { display: none; }
	}
}

table.cenik {
	border: 6px solid #e4e4e4;
	th {
		background: @red;
		color: @white;
	}
	th, td {
		border: 2px solid #e4e4e4;
		vertical-align: middle !important;
	}
}

.pagePrilohy {
	.p_priloha {
		.fl-left;
		width: 144px;
		a {
			.block;
			.center;
			padding: 0 5px;
			.p1 {
				.mb10;
				width: 60px;
				line-height: 72px;
				background: @red;
				opacity: 0.8;
				text-align: center;
				color: @white;
				.inline-block;
				.no-decoration;
				.trans(all, 200ms);
			}
			.p2 {
				font-size: 13px;
				font-weight: 400;
			}
			&:hover .p1 {
				opacity: 1;
			}
		}
	}
}

.side-filters {
	background: @white;
	padding: 10px 12px 20px 12px;
	.bootstrap-switch {
		box-shadow: none !important;
		border-radius: 0;
		border: 0;
		padding: 0;
		margin: 0;
		.trans(all, 200ms);
		.bootstrap-switch-container {
			.bootstrap-switch-label {
				background: @white;
				height: 20px;
				border-radius: 0;
				padding: 0;
				margin: 0;
				border: 2px solid @red;
				//.trans(all, 200ms);
			}
			.bootstrap-switch-default,
			.bootstrap-switch-primary {
				background: @red;
				font-size: 11px;
				.uppercase;
				color: @white;
				line-height: 20px;
				height: 20px;
				padding: 0 !important;
				border-radius: 0;
				text-shadow: none;
			}
			.bootstrap-switch-default {
				padding-right: 2px !important;
			}
			.bootstrap-switch-primary {
				padding-left: 2px !important;
			}
		}
		&.bootstrap-switch-off {
			opacity: .55;
			.bootstrap-switch-label {
				background: #b5b5b5;
			}
		}
	}
	span[data-switch-toggle] {
		line-height: 20px;
		font-weight: 600;
		margin-left: 5px;
		.pointer;
	}
}

.calendar-in-slider {
	z-index: 99;
	.relative;
	margin-top: -270px;
	.absolute;
	right: 0;
	width: 353px;
	.eventCalendar-wrap {
		padding-bottom: 10px;
		.eventCalendar-list-wrap {
			display: none;
		}
	}
	@media @1140px {
		display: none;
	}
}

.mainRightCl .eventCalendar-wrap {
	.mt25;
}

.eventCalendar-wrap {
	border: 0;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	.eventCalendar-currentTitle {
		background: @red;
		line-height: 30px;
		border: 0 !important;
		outline: 0 !important;
		a {
			font-size: 15px;
			font-weight: 600;
		}
	}
	.eventCalendar-arrow {
		top: 10px;
		padding: 9px 10px;
	}
	.eventCalendar-slider {
		height: auto !important;
		.eventCalendar-monthWrap {
			.relative;
			top: initial;
			margin-top: 10px;
			.eventCalendar-daysList {
				border: 0;
				margin: 10px 12px;
				background: transparent;
				.eventCalendar-day-header {
					border: 0;
					padding: 5px 0;
				}
				.eventCalendar-day {
					border: 0;
					background: #f0f0f0;
					.trans(all, 150ms);
					a {
						border: 0;
						color: @black;
						background: transparent;
					}
					&:hover {
						background: #dedede;
					}
					&.eventCalendar-empty {
						border: 0;
						background: transparent;
					}
					&.today {
						background: #e6e6e6;
						a {
							color: @red;
						}
					}
					&.eventCalendar-current {
						background: #cecece;
					}
					&.eventCalendar-dayWithEvents {
						background: @red;
						a {
							color: @white;
						}
					}
					&.eventCalendar-current.eventCalendar-dayWithEvents {
						background: darken(@red,6%);
					}
					&.eventCalendar-dayWithEvents:hover {
						background: lighten(@red,10%);
					}
				}
			}
		}
	}
	.eventCalendar-list-wrap {
		.eventCalendar-subtitle {
			padding-left: 12px;
			padding-top: 18px;
			font-weight: 600;
		}
		.eventCalendar-loading {
			margin-left: 6px;
			margin-top: 20px;
		}
		.eventCalendar-list li {
			padding-left: 12px;
			time {
				.block;
				margin-bottom: 2px;
				&::after {
					.clearfixAfter;
				}
			}
			a.eventCalendar-eventTitle {
				.relative;
				.inline-block;
				font-weight: 600;
				line-height: 19px;
				color: @red;
			}
			&[class*=t_] a.eventCalendar-eventTitle {
				padding-left: 25px;
				&::before {
					.block;
					.absolute;
					content: ' ';
					top: 0;
					left: 0;
					height: 19px;
					width: 19px;
				}
			}
			&.t_red a.eventCalendar-eventTitle::before { background: red; }
			&.t_blue a.eventCalendar-eventTitle::before { background: blue; }
			&.t_yellow a.eventCalendar-eventTitle::before { background: yellow; }
			&.t_black a.eventCalendar-eventTitle::before { background: black; }
			&.t_green a.eventCalendar-eventTitle::before { background: green; }
			&.t_gray a.eventCalendar-eventTitle::before { background: gray; }
			&.t_purple a.eventCalendar-eventTitle::before { background: purple; }
			&.t_orange a.eventCalendar-eventTitle::before { background: orange; }
			.eventCalendar-eventDesc a.bt {
				background: @red;
				outline: 0;
				box-shadow: none;
				border: 2px solid @red;
				border-radius: 0;
				font-weight: 600;
				font-size: 14px;
				text-shadow: none;
				.trans(all, 200ms);
				&:hover {
					background: @white;
					color: @red;
				}
			}
		}
		.eventCalendar-noEvents p {
			.mb0;
		}
	}
	@media @640px {
		display: none;
	}
}