// default error color is red
@errorColor: #e4022e; 

.error {
	h1 {
		.bold;
		font-size: 40px;
		line-height: 50px;
		margin: 20px 0;
		color: @errorColor;
		text-align: left;
		@media @320px {
			padding: 5vw;
		}
	}
	p {
		font-size: 16px;
		line-height: 20px;
		color: @white;
		width: 100%;
		max-width: 480px;
		margin-bottom: 75px;
		@media @320px {
			padding: 5vw;
		}
	}
	a {
		color: @errorColor;
	}
	.btn {
		color: @white;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-color: #4a4a4a;
		width: 100%;
		max-width: 300px;
		margin-bottom: 30px;
		&:hover {
			border-color: @white;
			background: @white;
			color: @black;
		}
	}
	
}

// forms errors
ul.error li {
	margin: 10px 0 30px;	
	text-align: left;
	font-weight: bold;
	color: red;
}