.flash {
	height: 60px;
	line-height: 60px;
	background-color: @green;
	.wrapper {
		padding: 0;
		.relative;
	}

	.info, .success {
		background-color: @green;
	}

	.warning {
		background-color: @red;
	}

	.close {
		.absolute;
		.pointer;
		.block;
		top: 9px;
		right: 0px;
		width: 10px;
		height: 10px;
		background: url(../images/png/close.png) no-repeat;
	}
}