footer {
	padding: 30px 0 25px 0;
	font-size: 14px;
	.footer-nav {
		.fl-left;
		a {
			margin: 0 15px;
			.no-decoration;
			&:hover {
				.underline;
			}
		}
	}
	.footer-copyright {
		.fl-right;
		color: #737373;
	}
	@media screen and (max-width: 700px) {
		.footer-nav, .footer-copyright {
			float: none;
			.center;
		}
	}
}

.footerMapWrapper {
	.relative;
	max-width: 496px;
}
.footerMapLinks {
	.relative;
	z-index: 120;
	a {
		.relative;
		color: @white;
		line-height: 1;
		font-size: 15px;
		background: @blue;
		padding: 6px 12px;
		border-radius: 10px;
		padding-right: 30px;
		border: 2px solid @white;
		text-decoration: none;
		.trans(all, 200ms);
		&::after {
			.block;
			.absolute;
			content: ' ';
			top: 0;
			right: 8px;
			width: 14px;
			height: 100%;
			background: url(../images/png/arrows/dbl-arrow.png) 50% 50% no-repeat;
			background-size: 14px auto;
		}
		&.active,
		&:hover {
			background: @red;
		}
	}
	a.mp_1 {
		.absolute;
		top: 20px;
		left: 10%;
	}
	a.mp_2 {
		.absolute;
		top: 60px;
		left: 60%;
	}
	a.mp_3 {
		.absolute;
		top: 150px;
		left: 25%;
	}
	a.mp_4 {
		.absolute;
		top: 210px;
		right: 10%;
	}
	@media screen and (max-width: 380px) {
		a.mp_3 {
			top: 130px;
		}
		a.mp_4 {
			top: 190px;
		}
	}
}

.footer-logo-social-link {
	border: 5px solid #d9d9d9;
	padding: 10px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 200px;
	.trans(all, 200ms);
	img {
		width: 100%;
	}
	img[src*="youtube"] {
		width: 90%;
	}
	&:hover {
		border-color: @redActive;
	}
}

.footer-hr {
	margin-top: 80px;
	margin-bottom: 30px;
}

.footer-partners {
	margin-bottom: 25px;
	.center;
	a {
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		margin: 10px 17px;
	}
}

.copyright {
	background: #333333;
	padding: 28px 0;
	.center;
	a {
		span {
			vertical-align: middle;
			line-height: 24px;
			font-weight: 400;
			font-size: 14px;
			color: @white;
		}
		img {
			height: 24px;
			margin-left: 10px;
			vertical-align: middle;
		}
		&:hover span {
			text-decoration: underline;
		}
	}
	span {
		color: @white;
		line-height: 1;
	}
}