@formBorderGray: #8e8e8e;

.form-control {
	.form-group {
		margin-bottom: 10px;
		&.inline-group.left 	{ padding-right: 10px; }
		&.inline-group.right 	{ padding-left: 10px; }

		@media screen and (max-width: @screen-md) {
			&.inline-group.left 	{ padding-right: 0px; }
			&.inline-group.right 	{ padding-left: 0px; }
		}
		
		label {
			.block;
			text-align: left;
			margin-bottom: 5px;
		}

		.text-input, 
		.textarea-input {
			.block;
			.borderBox;
			width: 100%;
			.basicFont(12px, @openSans);
			padding: 0 10px;
			border: 1px solid @formBorderGray;
		}

		.text-input 	{ height: 40px; }
		.textarea-input { height: 4*40px; padding: 10px; }

		.button-send 	{ .fl-right; }

	}



	[class*="col-"] { padding: 0 0; }

}
