.gallery-list {
	.gpage {
		.backshadwrap {
			padding: 1px;
			.shad1 {
				.absolute;
				width: 100%;
				height: 100%;
				background: @white;
				box-shadow: 0 0 2px fade(@black,80%);
				.transform(rotate(-1.7deg) translate(-6px,-4px));
			}
			.shad2 {
				.absolute;
				width: 100%;
				height: 100%;
				background: @white;
				box-shadow: 0 0 2px fade(@black,90%);
				.transform(rotateZ(1.5deg) translate(-2px,8px));
			}
		}
		a {
			.block;
			.relative;
			padding: 5px;
			background: @white;
			box-shadow: 0 0 2px @black;
			border: 1px solid fade(@black,30%);
			.imgw {
				.relative;
				.img {
					.block;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: 100% auto;
					background-size: cover;
					&::before {
						.block;
						content: ' ';
						padding-top: 56.76%;
					}
				}
				.date {
					.absolute;
					top: 0;
					right: 0;
					line-height: 22px;
					padding: 0 8px;
					background: @red;
					color: @white;
					font-size: 11px;
				}
			}
			.headline {
				.absolute;
				bottom: 0;
				width: 100%;
				background: @white;
				h2 {
					margin: 0;
					font-size: 17px;
					color: @red;
					padding-top: 4px;
					line-height: 1.5;
				}
			}
		}
	}
}

.gallery-detail {
	.move-back-to-list {
		margin-bottom: 50px;
		@media screen and (min-width: @screen-md) {
			.fl-right;
			margin: 0;
		}
	}

	.date-wrap {
		.block;
		margin: 0 0 30px 0;

		.date-text { .uppercase; .bold; padding: 7px 0;  }
		.date-added { background: @red; color: @white; margin-left: 10px; padding: 7px 10px; }
	}
}