@removeCols: @1200px; // name of breakpoint, from which cols will be block
@spaces: 30px; // set spaces between cols
.row {
	.block;
	.relative;
	//font-size: 0;
	//line-height: 0;
	&.p-h-16 {
		margin-left: -8px;
		margin-right: -8px;
		& > [class*="col"], & > .col {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
	&.p-h-20 {
		margin-left: -10px;
		margin-right: -10px;
		& > [class*="col"], & > .col {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&.p-h-24 {
		margin-left: -12px;
		margin-right: -12px;
		& > [class*="col"], & > .col {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	&.p-h-28 {
		margin-left: -14px;
		margin-right: -14px;
		& > [class*="col"], & > .col {
			padding-left: 14px;
			padding-right: 14px;
		}
	}
	&.p-h-32 {
		margin-left: -16px;
		margin-right: -16px;
		& > [class*="col"], & > .col {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
	&.p-h-50 {
		margin-left: -25px;
		margin-right: -25px;
		& > [class*="col"], & > .col {
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	&.p-v-8 {
		margin-top: -4px;
		& > [class*="col"], & > .col {
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}
	&.p-v-16 {
		margin-top: -8px;
		& > [class*="col"], & > .col {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
	&.p-v-24 {
		margin-top: -12px;
		& > [class*="col"], & > .col {
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
	&.p-v-40 {
		margin-top: -20px;
		& > [class*="col"], & > .col {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	&.p-v-50 {
		margin-top: -25px;
		& > [class*="col"], & > .col {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}
	[class*="col-"] {
		.borderBox;
	}
	//.col {
	//	.inline-block;
	//	.borderBox;
	//
	//	&.w-1 {
	//		width: (100% / 12) * 1;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-17, &.w-2 {
	//		width: (100% / 12) * 2;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-25, &.w-3 {
	//		width: (100% / 12) * 3;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-33, &.w-4 {
	//		width: (100% / 12) * 4;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-42, &.w-5 {
	//		width: (100% / 12) * 5;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-50, &.w-6 {
	//		width: (100% / 12) * 6;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-58, &.w-7 {
	//		width: (100% / 12) * 7;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-66, &.w-8 {
	//		width: (100% / 12) * 8;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-75, &.w-9 {
	//		width: (100% / 12) * 9;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-83, &.w-10 {
	//		width: (100% / 12) * 10;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-92, &.w-11 {
	//		width: (100% / 12) * 11;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	&.w-100, &.w-12 {
	//		width: (100% / 12) * 11;
	//		@media @removeCols {
	//			width: 100%;
	//		}
	//	}
	//
	//	@media @removeCols {
	//		.block;
	//	}
	//}
}