.adminbar {
	padding: 20px 0;
	padding-left: 20px;
	background: #212121;
	.project-name {
		color: @white;
		font-size: 16px;
		font-weight: 700;
		text-decoration: none;
		.powered {
			.uppercase;
			color: #919191;
			font-size: 10px;
			margin-left: 6px;
			letter-spacing: 1px;
			vertical-align: bottom;
			margin-bottom: 4px;
		}
	}
	.login-info {
		color: @white;
		a {
			color: @white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.header {
	.second-row {
		padding: 33px 0 9px;
		border-bottom: 1px solid #737373;
		.head-nav {
			.relative;
			.burgetmenu {
				display: none;
				margin: 0px 0px 20px 20px;
				a {
					.pointer;
					.wrap {
						margin: 0;padding: 0;padding: 5px 5px;display: inline-block;border-radius: 5px;.trans(border-color, 0.3s);
						.line {
							width: 60px;height: 10px;background: @black;.trans(all, 0.5s, ease 0.2s);
							&.top {
								margin: 0 0 10px 0;
							}
						}
					}
					&.active {
						.wrap {
							.line {
								background: @black;
								&.top { .transform(translate(0, 10px) rotate(135deg)); }
								&.btm { .transform(translate(0, -10px) rotate(-135deg)); }
							}
							border-color: @black;
						}
					}
				}
			}
			nav > ul {
				list-style: none;
				padding: 0;
				margin: 0;
				.block;
				.center;
				& > li {
					.inline-block;
					margin: 0;
					padding: 0;
					& > a {
						.block;
						.relative;
						text-decoration: none !important;
						font-size: 15px;
						padding: 10px 21px;
						.uppercase;
						.pointer;
					}
					&.active > a {

					}
					& > ul {
						display: none;
						list-style: none;
						padding: 0;
						margin: 0;
						.absolute;
						& > li {
							.relative;
							margin: 0;
							padding: 0;
							overflow: hidden;
							background: @white;
							&::before {
								.absolute;
								content: ' ';
								top: 0;
								right: 100%;
								width: 100%;
								height: 100%;
								background: @red;
								.trans(all, 300ms);
							}
							& > a {
								.relative;
								.no-decoration;
								display: block;
								font-weight: 400;
								padding: 7px 45px 7px 10px;
								border-left: 3px solid @red;
								.trans(all, 300ms);
							}
							&.active > a {
								font-weight: 700;
							}
							&:hover {
								&::before {
									right: 0;
								}
								& > a {
									color: @white;
								}
							}
							ul {
								display: none;
							}
						}
					}
					&:hover > ul {
						display: block;
					}
				}
				&:hover > li > a::after {

				}
			}
			@media @1140px {
				nav {
					display: none;
				}
			    .burgetmenu {
				    .block;
			    }
			}
		}
		&.fx.appended {
			@media @1200px {
				display: none !important;
			}
			@fxHnav: 70px;
			.fixed;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 150;
			max-width: @wrapperWidth + 20px;
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.22);
			height: @fxHnav;
		}
	}
	.head-logo {
		margin: 85px 0;
		.cc {
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 98% 98%;
			background-image: url(../images/jpg/logo-back.jpg);
		}
	}
	.head-motto {
		max-width: 900px;
		margin: 0 auto 25px auto;
		font-size: 1.25rem;
		font-weight: 300;
		line-height: 1.2;
		text-align: center;
		@media screen and (min-width: 768px) {
			margin: 0 auto 122px auto;
			font-size: 2rem;
		}
	}
	nav.mobile {
		display: none;
		background: #737373;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				.relative;
				padding: 0;
				margin: 0;
				a {
					.block;
					.relative;
					color: @white;
					line-height: 40px;
					font-size: 17px;
					font-weight: 400;
					padding: 0 6%;
					.no-decoration;
					&::after {
						.absolute;
						content: ' ';
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						width: 90%;
						height: 1px;
						background: fade(@white,60%);
					}
				}
				&:last-child > a::after {
					display: none;
					content: '';
				}
				&.active > a {
					font-weight: 700;
					&::after {
						background: @white;
						height: 2px;
					}
				}
				ul {
					display: none;
					margin-left: 5%;
					margin-bottom: 20px;
				}
				span.showSubs {
					.pointer;
					.absolute;
					top: 2px;
					right: 5%;
					width: 36px;
					height: 36px;
					margin-right: -3px;
					background: url(../images/png/arrows/down-arrow-2.png) 50% 50% no-repeat;
					background-size: 20px auto;
					.trans(all, 330ms);
					&.active {
						.transform(rotateZ(180deg));
					}
				}
			}
		}
		@media @up1140px {
			display: none !important;
		}
	}
}