@showBurgerMenu: @940px;		 // name of breakpoint, from which burger menu will be visible

.nav-burger {
	
	// Basic settings of burger menu.
	@fromTop: 4vh;				 // Indentation from top
	@fromRight: 7vw; 			 // Indentation from right

	.absolute;
	.hidden;
	.borderBox;
	position: absolute; 
	top: @fromTop; 
	right: @fromRight; 
	width: 40px; 
	height: 40px;
	text-transform: uppercase;
	z-index: 9999;
	
	.burger-line {

		// Basic settigs of burger lines.
		@width: 40px;  			// burger-line width
		@height: 2px;  			// burger-line height
		@spaces: 15px; 			// spaces between burger-lines
		@color: @black; 		// burger-line color

		background: @color; 
		position: absolute; 
		left: 0; 
		width: @width; 
		height: @height;
		backface-visibility: hidden;
		.trans(all, .15s);
		&.bread.top { top: 0; }
		&.meat { top: @spaces; }
		&.bread.bottom { top: @spaces*2 ;}
		
	}

	&.active {
		background-color: transparent;
		border-color: transparent;
		.meat { opacity: 0; }
		.bread {
			.transform(translate(0, 12px) rotate(45deg), 15px 4px 0);
			&.bottom { 
				.transform(translate(0, -14px) rotate(-45deg), 20px 5px);
			}
		}
	}
	
	@media @showBurgerMenu {
		.block;
	}
}

.nav-ul {
	.block;
	.relative;
	.fl-right;
	padding-right: 30px;
	@media @showBurgerMenu {
		.hidden;
		.fl-none;
		width: 100%;
		.center;
		padding-right: 0;
	}

	li {
		.inline-block;
		padding-right: 5px;
		@media @showBurgerMenu {
			.block;
			padding: 5px 0px;
		}

		a {
			color: @black; // menu item color
			.no-decoration;
			&:hover {
				.underline;
			}
		}
	}
}