.new-list {
	.new {
		@borderGray: #838383;
		.block;
		width: 100%;
		.clearfix;
		border-bottom: 1px solid @borderGray;
		padding-bottom: 15px;
		margin-bottom: 15px;

		@media @640px {
			& > .row > [class*="col-"] {
				width: 100%;
			}
		}

		.img {
			.block;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-size: cover;
			&::before {
				.block;
				content: ' ';
				padding-top: 56.76%;
			}
		}

		.headline {
			.block;
			color: @red;
			margin-bottom: 5px;
			border-bottom: 1px solid @red;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			.headline-wrap {
				.inline-block;
				padding-bottom: 5px;
				border-bottom: 4px solid @red;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.description {
			min-height: 140px;
			margin-bottom: 0px;
			@media @640px {
				min-height: auto;
				min-height: initial;
				margin-bottom: 12px;
			}
		}

		.date { 
			.fl-left; 
			background: @red;
			padding: 7px 10px;
			.uppercase;
			color: @white;
			.semiboldFont(12px);
		}

		.button-more {
			.inline-block;
			.fl-right;
			.semiboldFont(12px);
		}
	}
}

.new-detail {
	.cover-image {
		.block;
		width: 100%;
	}

	.date-wrap {
		.block;
		text-align: right;
		margin: 10px 0;
		
		.date-text { .uppercase; .bold; padding: 7px 0;  }
		.date-added { background: @red; color: @white; margin-left: 10px; padding: 7px 10px; }
	}

	.new-text  {
		margin: 30px 0;
		p {
			text-align: left;
		}
	}

	//.new-gallery {
	//	.gallery {
	//		.fl-left;
	//		margin-right: 10px;
	//		img {
	//			width: 100%;
	//			max-width: 150px;
	//		}
	//	}
	//}

	.sideNewsSmall {
		background: @white;
		padding: 15px 10px 11px 10px;
		.new {
			@borderGray: #838383;
			border-bottom: 1px solid @borderGray;
			padding-bottom: 10px;
			margin-bottom: 10px;

			@media @480px {
				& > .row > [class*="col-"] {
					width: 100%;
				}
			}

			.img {
				.block;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-size: cover;
				&::before {
					.block;
					content: ' ';
					padding-top: 56.76%;
				}
			}

			.headline {
				.block;
				color: @red;
				font-size: 13px;
				margin-top: 7px;
				margin-bottom: 12px;
				border-bottom: 1px solid @red;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				.headline-wrap {
					.inline-block;
					padding-bottom: 5px;
					border-bottom: 3px solid @red;
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.description {
				min-height: 140px;
				margin-bottom: 0px;
				@media @640px {
					min-height: auto;
					min-height: initial;
					margin-bottom: 12px;
				}
			}

			.date {
				.fl-left;
				background: @red;
				padding: 7px 10px;
				.uppercase;
				color: @white;
				.semiboldFont(10px);
				line-height: 20px;
				.pt0;
				.pb0;
			}

			.button-more {
				.inline-block;
				.fl-right;
				.semiboldFont(12px);
				line-height: 16px;
				.pt0;
				.pb0;
			}
		}
	}
}

.news-block {
	background: @white;
	margin: 0px 20px 20px;
	.clearfix;
	.col-md-12 {
		margin-bottom: 20px;
	}

	h2 {
		margin: 20px 0 15px 15px;
	}

}
