.paginator {
	width: 100%;
	text-align: center;
	margin: 30px 0 0 0;
	li {
		display: inline-block;
		margin-right: 5px;
		span {
			padding: 5px;
			line-height: 20px;
			font-size: 14px;
			display: inline-block;
			min-width: 20px;
			text-align: center;
			background-color: #d9d9d9;
			color: #606060;
			
		}

		&:hover {
			span { background-color: @red; color: @white !important; }
		}
		
		&.textual {
			span {
				font-size: 16px;
			}
		}
		
		&.disabled {
			
		}
		&.active {
			span { background-color: @red; color: @white; }
		}
	}

	.paginator-arrow {
		span { 
			color: @white; 
			background-color: #616161 !important;
			font-size: 14px;
		}
	}
}