.sign {
	padding: 70px 0;
	text-align: center;
	h1 {
		margin-bottom: 35px;
		font-size: 40px;
		color: @black;
	}
	th, td {
		text-align: left;
		padding-bottom: 10px;
	}
	label {
		.semibold;
		line-height: 30px;
		font-size: 16px;
		padding-right: 10px;
		color: @black;
	}
	input {
		.radius(3px);
		display: inline-block;
		border: 1px solid @gray;
		background: @white;
		color: @black;
		padding: 5px 9px;
		font-size: 15px;
		line-height: 20px;
		width: 100%;
		max-width: 250px;		
	}
	input[type="checkbox"] {
		max-width: 20px;
		vertical-align: middle;
		line-height: 30px;
		position: relative;
	}
	
	input[type="submit"] {
		cursor: pointer;
		font-size: 15px;
	}	
}