<header class="top-strip">
	<a n:href="Dashboard:" title="{$presets->projectName}" class="project-name">
		{*<img src="{$basePath}/assets/images/svg/logo.svg" 
		onerror="this.onerror=null;this.src='{!$basePath}/assets/images/png/logo.png';" alt="{$presets->projectName}" />*}
		{$presets->projectName}  
		<span class="powered">powered by mediastudio</span>
	</a>
	<div class="login-info">
		Přihlášen <em>{$presenter->user->getIdentity()->username}</em>.
		<a n:href=":Homepage:" target="_blank" style="margin-left: 20px">Web <span class="glyphicon glyphicon-log-in"></span></a>
		<a n:href=":Sign:out" style="margin-left: 20px">Odhlásit se <span class="glyphicon glyphicon-log-out"></span></a>
	</div>
</header>