<ul>
	<li {ifCurrent 'Dashboard:*'}class="active"{/ifCurrent}><a n:href="Dashboard:default">Administrace</a></li>
	<li {ifCurrent 'Structure:*'}class="active"{/ifCurrent}><a n:href="Structure:default">Struktura</a></li>
	<li {ifCurrent 'News:*'}class="active"{/ifCurrent}><a n:href="News:default">Aktuality</a></li>
	<li {ifCurrent 'Reference:*'}class="active"{/ifCurrent}><a n:href="Reference:default">Reference</a></li>
	<li {ifCurrent 'Sliders:*'}class="active"{/ifCurrent}><a n:href="Sliders:default">Slidery</a></li>
	<li {ifCurrent 'Gallery:*'}class="active"{/ifCurrent}><a n:href="Gallery:default">Galerie</a></li>
	<li {ifCurrent 'Menus:*'}class="active"{/ifCurrent}><a n:href="Menus:default">Menu</a></li>
	<li {ifCurrent 'Users:*'}class="active"{/ifCurrent}><a n:href="Users:default">Uživatelé</a></li>
	{*<li {ifCurrent 'Partners:default'}class="active"{/ifCurrent}{ifCurrent 'Partners:edit'}class="active"{/ifCurrent}><a n:href="Partners:default">Partneři {ifCurrent 'Partners:default'}<span class="glyphicon glyphicon-arrow-right"></span>{/ifCurrent}{ifCurrent 'Partners:edit'}<span class="glyphicon glyphicon-arrow-right"></span>{/ifCurrent}</a></li>*}
</ul>
