
<script type="text/javascript" src="{$basePath}/assets/js/sources/jquery-sortable-min.js"></script>
<script type="text/javascript" src="{$basePath}/assets/js/sources/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="{$basePath}/assets/css/jquery-sortable.css">
<link rel="stylesheet" href="{$basePath}/assets/css/chosen.min.css">
<script>
$(function() {

    $(".chosen-select-page").chosen({ no_results_text: "Oops, nothing found!", width: "95%" });

    function checkEnableToDelete() {
        $('ul.sortable li').each(function(){
            var children = $(this).children('ul').children('li');

            if (children.length > 0) {
                $(this).children('a.page-delete').attr('disabled','disabled');
                var dataTarget = $(this).children('a.page-delete').attr('data-target');
                $(this).children('a.page-delete').removeAttr('data-target').attr('data-no-target',dataTarget);
            }
            else {
                $(this).children('a.page-delete').removeAttr('disabled');
                var dataTarget = $(this).children('a.page-delete').attr('data-no-target');
                if (dataTarget) {
                    $(this).children('a.page-delete').removeAttr('data-no-target').attr('data-target',dataTarget);
                }
            }
        });
    }

    checkEnableToDelete();

    var sortableGroup = $('ul.sortable').sortable({
        handle: 'span.handle',
        group: 'structure',
        onDrop: function  ($item, container, _super) {

            var data = sortableGroup.not('.secMenu').sortable("serialize").get();

            var jsonString = JSON.stringify(data, null, ' ');

            {*console.log(jsonString);*}

            $.ajax({
                url: {plink saveStructure!},
                type: 'POST',
                async: false,
                data: {
                    'jsonString': jsonString
                },
                success: function(data) {
                    console.log(data);
                },
                failure: function(f) {
                    console.log('failure: '+f);
                },
                error: function (e) {
                    console.log('error: '+e);
                }
            });

            checkEnableToDelete();

            var $clonedItem = $('<li/>').css({ height: 0 });
            $item.before($clonedItem);
            $clonedItem.animate({'height': $item.height()});

            $item.animate($clonedItem.position(), function  () {
                $clonedItem.detach();
                _super($item, container);
            });
        }
    });
});
</script>
