
<script type="text/javascript" src="{$basePath}/assets/js/sources/jquery-sortable-min.js"></script>
<link rel="stylesheet" href="{$basePath}/assets/css/jquery-sortable.css">
<script>
$(function() {
    $('#modal-edit').on('show.bs.modal', function(e) {
        var $parent = $(e.relatedTarget).closest('li'),
            id = $parent.attr('data-id'),
            p1 = $parent.find('span[data-p1]').attr('data-p1'),
            p2 = $parent.find('span[data-p2]').attr('data-p2'),
            p3 = $parent.find('span[data-p3]').attr('data-p3'),
            url = $parent.find('.slide-url').text(),
            status = $parent.attr('data-status');

        $(this).find('input[name="id"]').val(id);
        $(this).find('input[name="p1"]').val(p1);
        $(this).find('input[name="p2"]').val(p2);
        $(this).find('input[name="p3"]').val(p3);
        $(this).find('input[name="url"]').val(url);

        if (parseInt(status) > 0) {
            $(this).find('input[name="status"]').attr('checked','checked');
        }
        else {
            $(this).find('input[name="status"]').removeAttr('checked');
        }
    });

    var sortableGroup = $('ul.sortable').sortable({
        handle: 'span.handle',
        group: 'structure',
        onDrop: function  ($item, container, _super) {

            var data = sortableGroup.not('.secMenu').sortable("serialize").get();

            var jsonString = JSON.stringify(data, null, ' ');

            {*console.log(jsonString);*}

            $.ajax({
                url: {plink saveStructure!},
                type: 'POST',
                async: false,
                data: {
                    'jsonString': jsonString
                },
                success: function(data) {
                    console.log(data);
                },
                failure: function(f) {
                    console.log('failure: '+f);
                },
                error: function (e) {
                    console.log('error: '+e);
                }
            });

            var $clonedItem = $('<li/>').css({ height: 0 });
            $item.before($clonedItem);
            $clonedItem.animate({'height': $item.height()});

            $item.animate($clonedItem.position(), function  () {
                $clonedItem.detach();
                _super($item, container);
            });
        }
    });
});
</script>
