
<script type="text/javascript" src="{$basePath}/assets/tinymce/tinymce.min.js"></script>

<script>
$(document).ready(function(){

    var allowClass = "p,span,div,a,b,strong,i,u,li,ol,ul,label,img,h1,h2,h3,h4,h5,h6";

    tinymce.init({
        selector: "textarea.tinymce",
        browser_spellcheck : true,
        theme: "modern",
        language : "cs",
        width: 670,
        height: 450,
        plugins: [
            " advlist nonbreaking autolink link image lists charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
            "table contextmenu directionality emoticons paste textcolor responsivefilemanager code codemirror colorpicker"
        ],
        resize: "both",
        autoresize_min_height: 500,
        autoresize_max_height: 10000,

        content_css: "{!$basePath}/assets/css/sandbox.min.css,{!$basePath}/assets/tinymce/css/styles.css",
        relative_urls: false,
        convert_urls: false,
        {*visualblocks_default_state: true,*}
        nonbreaking_force_tab : true,
        remove_script_host : false,
        entity_encoding : "raw",
        filemanager_title:"Responsive Filemanager",
	    filemanager_access_key:"MediStu2017",
        external_filemanager_path: "{!$basePath}/assets/tinymce/filemanager/",
        link_class_list: [
            { title: "Žádné", value: "" },
            { title: "Galerie", value: "fancybox" }
        ],
        external_plugins: { "filemanager" : "{!$basePath}/assets/tinymce/filemanager/plugin.min.js"},
        codemirror: {
        indentOnInit: true, // Whether or not to indent code on init.
            path: "{!$basePath}/assets/tinymce/CodeMirror",
        },

        style_formats : [
            { title : "Červeně", classes : "redColor", inline : "span", selector: allowClass }

        ],


       image_advtab: true,
       toolbar1: "undo redo | pastetext pasteword | bold italic underline strikethrough | forecolor | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent  ",
       toolbar2: "styleselect | formatselect | responsivefilemanager | image | media | link unlink | table | removeformat | attribs | print preview code "
    });

});
</script>
