{block content}
<h1 n:block=title>Reference</h1>
<div class="news">
	{foreach $references as $reference}
		{dump $reference}
		<div class="new">
			{var $name = Nette\Utils\Strings::webalize($reference->headline)}
			<a n:href="Reference:detail id => $reference->id, name => $name" class="news-image">
				{if $reference->image}
					<img class="image" src="{$basePath}/assets/uploads/{$reference->id}/preview_{$reference->image}" alt="{$reference->headline}">
				{else}
					<img class="image" src="{$basePath}/assets/images/jpg/no-image.jpg" alt="">
				{/if}
			</a>
			<div class="news-content">
				<h3 class="headline section-{$reference->section}">{$reference->headline}</h3>
				<div class="textual"><p>{$reference->desc}</p></div>
				<a class="button btn-secondary" n:href="Reference:detail id => $reference->id, name => $name">Více</a>
			</div>
		</div>
	{/foreach}
</div>