{block content}
<div class="reference-detail">
	<h1 n:block="title">{$reference->headline}</h1>
	<h2>{$reference->desc}</h2>
	<p class="date">
		{$reference->date->format('j. n. Y')}
	</p>
	<div class="text">
		{!$reference->text}
	</div>

	<div class="images" n:if="$reference->video || count($reference->images) > 0">
		<div class="slick-carousel gallery">
			<iframe class="video" n:if="$reference->video" width="370" height="210" src="https://www.youtube.com/embed/{$reference->video}" frameborder="0" allowfullscreen></iframe>
			{foreach $reference->images as $image}
				<a class="image-a" href="{$basePath}/assets/uploads/{$reference->id}/s1200_{$image->name}"
					data-at-400="{$basePath}/assets/uploads/{$reference->id}/s200_{$image->name}"
					data-at-600="{$basePath}/assets/uploads/{$reference->id}/s400_{$image->name}"
					data-at-800="{$basePath}/assets/uploads/{$reference->id}/s800_{$image->name}"
					data-at-1000="{$basePath}/assets/uploads/{$reference->id}/s1200_{$image->name}">
					<img class="image" src="{$basePath}/assets/uploads/{$reference->id}/preview_{$image->name}" alt="{$reference->headline}">
				</a>
			{/foreach}
		</div>
	</div>
</div>
{dump $reference}