{block content}
<div class="error">
	<h1 n:block=title>Tuto stránku jste zřejmě nehledali.</h1>

	<p>Omlouváme se, ale stránku kterou jste hledali jsme nenašli. Zkontrolujte prosím správnost zadané URL adresy.</p>

	<a n:href="Homepage:default" class="button btn-primary">Zpět na hlavní stránku</a>

	<p><small>error 404</small></p>
</div>