{block content}
    <div class="wrapper">
        <div class="row p-h-16">
            <div class="col-md-4 col-md-push-8 mainRightCl article">

            </div>
            <div class="col-md-8 col-md-pull-4 mainLeftCl">
                {$pageData->text1|noescape}

                {if $prilohy}
                    <br /><br /><br />
                    <h3>{_}Přílohy{/_}</h3>
                    <hr class="mb20" />
                    <div class="pagePrilohy clearfix">
                        <div n:foreach="$prilohy as $p" class="p_priloha">
                            <a href="{$basePath}/assets/uploads/s{$p->track_id}/{$p->name}" target="_blank">
                                <p class="p1">{$p->ext}</p>
                                <p class="p2">{$p->p_name}</p>
                            </a>
                        </div>
                    </div>
                {/if}

                {if $gallery}
                    <br /><br /><br />
                    <h3>{_}Galerie{/_}</h3>
                    <hr class="mb20" />
                    <div class="pageGallery baguetteBoxOne row p-h-16 p-v-16">
                        <div n:foreach="$gallery as $g" class="col-md-4 col-xs-6 g_gallery">
                            <a href="{$basePath}/assets/uploads/s{$g->track_id}/{$g->name}"
                                data-at-450="{$basePath}/assets/uploads/s{$g->track_id}/s400_{$g->name}"
                                data-at-800="{$basePath}/assets/uploads/s{$g->track_id}/s800_{$g->name}"
                                data-at-1366="{$basePath}/assets/uploads/s{$g->track_id}/s1200_{$g->name}"
                                data-at-1920="{$basePath}/assets/uploads/s{$g->track_id}/{$g->name}">
                                    <img src="{$basePath}/assets/uploads/s{$g->track_id}/preview_{$g->name}" alt="{$g->name}">
                            </a>
                        </div>
                    </div>
                {/if}
            </div>
        </div>
    </div>

    {include '../components/layerslider_info.latte' data => $frontApp->getSlider(4)}
{/block}
