{block content}
<div class="headline-wrapper">
	<h1 n:block="title">Nastavení stránek</h1>
	<button id="add-new-button" type="button" class="button btn-transparent" data-toggle="modal" data-target="#myModal">
	  Přidat stránku
	</button>
</div>

<div class="content-wrapper">
<div class="row">
    <div n:tag-if="empty($menuUnsored) === false" class="col-xs-7">
    <p class="h1">Struktura</p>
    {if empty($menu) === false}
    {include 'mainMenuStructure.latte', data => $menu, class => 'sortable'}
    {else}
    <ul class="sortable"></ul>
    {/if}
    </div>
    {if empty($menuUnsored) === false}
    <div class="col-xs-5">
    <p class="h1 mt0">Nezařazené</p>
    {include 'mainMenuStructure.latte', data => $menuUnsored, class => 'sortable secMenu'}
    {/if}
    </div>
</div>
</div>

<div class="modal fade" id="myModal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Přidat stránku</h4>
			</div>
			<div class="modal-body">
				<p>
					Položky označené <strong>*</strong> jsou povinné.
					<br>
					<br>
				</p>
				{control addPageStructureForm}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-rename" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Přejmenovat</h4>
			</div>
			<div class="modal-body">
				<p>
					Položky označené <strong>*</strong> jsou povinné.
					<br>
					<br>
				</p>
				{control renamePageStructureForm}
			</div>
		</div>
	</div>
</div>

{/block}
{block scripts}
	{include '../components/confirmDelete.latte'}
	{include '../components/structureDefault.latte'}
{/block}