{block content}

<div class="headline-wrapper">
	<h1 n:block="title" style="margin-bottom: 0;">Nastavení stránek</h1>
	<h2 class="h1">{$page->name}</h2>
</div>

<div class="content-wrapper">
    <!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Obecné</a></li>
	    <li role="presentation" class="change-form"><a href="#czText" aria-controls="czText" role="tab" data-toggle="tab">CZ</a></li>
	    <li role="presentation" class="change-form"><a href="#enText" aria-controls="enText" role="tab" data-toggle="tab">EN</a></li>
	    <li role="presentation" class="change-form"><a href="#deText" aria-controls="deText" role="tab" data-toggle="tab">DE</a></li>
	    <li role="presentation" class="change-form"><a href="#ruText" aria-controls="ruText" role="tab" data-toggle="tab">RU</a></li>
		<li role="presentation"><a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">Rozšířené</a></li>
		<li role="presentation"><a href="#social" aria-controls="social" role="tab" data-toggle="tab">Sociální sítě</a></li>
		<li role="presentation"><a href="#galerie" aria-controls="galerie" role="tab" data-toggle="tab">Galerie</a></li>
		<li role="presentation"><a href="#prilohy" aria-controls="prilohy" role="tab" data-toggle="tab">Přílohy</a></li>
  	</ul>
    
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="general">
			<h2>Obecné</h2>
 
            {control editPageStructureGeneralForm}
		</div>
		<div role="tabpanel" class="tab-pane" id="czText">
			<h2>CZ</h2>
            {snippet formCZ}
                {if isset($tab) && $tab == 'czText'}
                    {control editPageStructureMutationsForm}
                {/if}
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="enText">
			<h2>EN</h2>
            {snippet formEN}
                {if isset($tab) && $tab == 'enText'}
                    {control editPageStructureMutationsForm}
                {/if}
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="deText">
			<h2>DE</h2>
            {snippet formDE}
                {if isset($tab) && $tab == 'deText'}
                    {control editPageStructureMutationsForm}
                {/if}
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="ruText">
			<h2>RU</h2>
            {snippet formRU}
                {if isset($tab) && $tab == 'ruText'}
                    {control editPageStructureMutationsForm}
                {/if}
            {/snippet}
                        {*}
						<form class="form form-horizontal form-edit-structure">
            				<div class="form-group">
            					<label class="col-sm-3 control-label">První input</label>
            					<div class="col-sm-9">
              						<input type="text" class="form-control" placeholder="První input">
            					</div>
            				</div>
            				<div class="form-group">
            					<label class="col-sm-3 control-label">Druhý input</label>
            					<div class="col-sm-9">
              						<input type="text" class="form-control" placeholder="Druhý input">
            					</div>
            				</div>
            				<div class="form-group">
            					<label class="col-sm-3 control-label">Textarea</label>
            					<div class="col-sm-9">
              						<textarea class="form-control" rows="3" placeholder="Textarea"></textarea>
            					</div>
            				</div>
            				<div class="form-group">
            					<label class="col-sm-3 control-label">Select</label>
            					<div class="col-sm-9">
              						<select class="form-control">
            						  <option>1</option>
            						  <option>2</option>
            						  <option>3</option>
            						  <option>4</option>
            						  <option>5</option>
            						</select>
            					</div>
            				</div>

            			  	<div class="form-group">
            					<span class="col-sm-3 control-label"></span>
            					<div class="col-sm-9">
            						<div class="checkbox">
            						    <label>
            						      <input type="checkbox" class="checkbox-input"> Checkbox
            						    </label>
            			  			</div>
            					</div>
            				</div>
            				<div class="form-group">
            					<label class="col-sm-3 control-label"></label>
            					<div class="col-sm-9">
            						<a href="#" class="btn btn-primary">Odeslat</a>
            					</div>
            				</div>

            			</form>
                        {*}
		</div>
		<div role="tabpanel" class="tab-pane" id="advanced">
			<h2>Rozšířené</h2>

            {control editPageStructureAdvancedForm}
		</div>
		<div role="tabpanel" class="tab-pane" id="social">
			<h2>Sociální sítě</h2>

            {control editPageStructureSocialForm}
		</div>
		<div role="tabpanel" class="tab-pane" id="galerie">
            {snippet images}
                <div class="images">
                    <h2>Galerie</h2>

                    <button type="button" class="button btn-transparent{if $images->count() == 999} disabled{/if}" data-toggle="modal" data-target="#myModal">
                        Nahrát obrázky <small>(Nahráno {$images->count()} z 999)</small>
                    </button>

                    <hr class="horizontal-line mt20">

                    {if $images->count() > 0}
                        {foreach $images as $image}
                            <div class="image">
                                <img src="{$basePath}/assets/uploads/s{$image->track_id}/preview_{$image->name}">
                                {*<a n:if="!$image->cover" class="btn btn-primary btn-xs" n:href="setPrimary! id => $image->track_id, image_id => $image->id, tab => galerie ">Hlavní <span class="glyphicon glyphicon-star"></span></a>*}
                                <a class="btn btn-danger btn-xs" n:href="deleteImage! id => $image->track_id, image_id => $image->id, tab => galerie ">Smazat <span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        {/foreach}
                    {/if}


                    <div class="modal fade" id="myModal" n:if="$images->count() < 999">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Přidat obrázky</h4>
                                </div>
                                <div class="modal-body">
                                    {control addStructureImagesForm}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {/snippet}
		</div>
		<div role="tabpanel" class="tab-pane" id="prilohy">
            {snippet prilohy}
                <div class="images">
                    <h2>Přílohy</h2>

                    <button type="button" class="button btn-transparent{if $prilohy->count() == 999} disabled{/if}" data-toggle="modal" data-target="#myModal2">
                        Nahrát přílohy <small>(Nahráno {$prilohy->count()} z 999)</small>
                    </button>

                    <hr class="horizontal-line mt20">

                    {if $prilohy->count() > 0}
                        {foreach $prilohy as $p}{dump $p}
                            <div class="image">
                                <a href="{$basePath}/assets/uploads/s{$p->track_id}/{$p->name}" target="_blank">{$p->p_name}</a>
                                <a class="btn btn-danger btn-xs" n:href="deletePriloha! track_id => $p->track_id, priloha_id => $p->id, tab => prilohy ">Smazat <span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        {/foreach}
                    {/if}


                    <div class="modal fade" id="myModal2" n:if="$prilohy->count() < 999">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Přidat přílohy</h4>
                                </div>
                                <div class="modal-body">
                                    {control addStructurePrilohyForm}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {/snippet}
		</div>
	</div>
</div>




{/block}
{block scripts}
	{include '../components/tinymce.latte'}
    <script>
        $(function(){
            $.nette.init();
            $('.change-form').click(function(){
                var tab = $(this).children().attr('aria-controls');
                console.log(tab);
                $.nette.ajax({
                    url: {plink this},
                    method: "POST",
                    data: {
                        tab: tab
                    }
                });
            });
        });
    </script>
{/block}