{if $data}
        <li data-id="{$data->id}" data-parent_id="{$data->parent_id}">
        <span class="handle">x</span>
        <a {if $data->status != 1}style="text-decoration:line-through"{/if} class="page-name" n:href="Structure:edit $data->id">{$data->name}</a>
        <span n:if="$data->homepage == 1" style="opacity: .8"><small>(homepage)</small></span>
        <span class="page-url"><small><span class="allowOpacity">{$basePath}</span>/<span class="page-url-wrap">{$data->url}</span></small></span>
        <a data-href="{plink Structure:delete $data->id}" data-toggle="modal" data-target="#confirm-delete" class="fl-right page-delete">smazat</a>
        <a data-toggle="modal" data-target="#modal-rename" class="fl-right page-rename" style="margin-right: 10px">přejmenovat</a>
        {if isset($data->subs)}
            {include 'mainMenuStructure.latte', data => $data->subs, class => ''}
        {else}
        <ul></ul>
        {/if}
        </li>
{/if}