{block content}

<div class="headline-wrapper">
	<h1 n:block="title">Slidery</h1>
	<button id="add-new-button" type="button" class="button btn-transparent" data-toggle="modal" data-target="#myModal">
	  Přidat slider
	</button>
</div>


<div class="content-wrapper">
	{include 'mainMenu.latte', data => $menu, class => 'table'}
</div>


<div class="modal fade" id="myModal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Přidat slider</h4>
			</div>
			<div class="modal-body">
				<p>
					Položky označené <strong>*</strong> jsou povinné.
					<br>
					<br>
				</p>
				{control addSliderForm}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-rename" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Přejmenovat</h4>
			</div>
			<div class="modal-body">
				<p>
					Položky označené <strong>*</strong> jsou povinné.
					<br>
					<br>
				</p>
				{control renameSliderForm}
			</div>
		</div>
	</div>
</div>

{/block}
{block scripts}
	{include '../components/confirmDelete.latte'}
	{include '../components/slidersDefault.latte'}
{/block}