{if $data}
        <li data-id="{$data->id}" data-parent_id="{$data->parent_id}" data-status="{$data->status}" {if $data->status != 1} style="opacity: .4"{/if}>
        <span class="handle">x</span>
        <a href="{$basePath}/assets/uploads/slides/{$data->image}" target="_blank"><img src="{$basePath}/assets/uploads/slides/{$data->image}" height="60"></a>
        <span class="slide-url" style="margin-right: 10px"><small><span class="slide-url-wrap">{$data->url}</span></small></span>
        {if empty($data->p1) === false}<small><span data-p1="{$data->p1}">{$data->p1|truncate:20}</span></small> | {/if}
        {if empty($data->p2) === false}<small><span data-p2="{$data->p2}">{$data->p2|truncate:20}</span></small> | {/if}
        {if empty($data->p3) === false}<small><span data-p3="{$data->p3}">{$data->p3|truncate:20}</span></small>{/if}
        <a data-href="{plink Sliders:deleteItem id => $data->id, 'sliderId' => $parentItem->id}" data-toggle="modal" data-target="#confirm-delete" class="fl-right page-delete">smazat</a>
        <a href="#modal" style="margin-right: 10px" class="fl-right" data-toggle="modal" data-target="#modal-edit">upravit</a>
        {*{if isset($data->subs)}*}
            {*{include 'mainMenuStructure.latte', data => $data->subs, class => ''}*}
        {*{else}*}
        {*<ul></ul>*}
        {*{/if}*}
        </li>
{/if}