{if $data}
        <tr>
        <td>{$data->id}</td>
        <td class="slider-name"><span>{$data->name}</span> ({$data->count})
        </td>
        <td data-id="{$data->id}">
        <a n:href="Sliders:edit $data->id"><span class="glyphicon glyphicon-pencil"></span>upravit</a>
         |
        <a data-toggle="modal" data-target="#modal-rename"><span class="glyphicon glyphicon-pencil"></span>přejmenovat</a>
        {if $data->count == 0} |
        <a data-href="{plink Sliders:delete $data->id}" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-remove"></span>smazat</a>
        {/if}
        </td>
        </tr>
{/if}