{if $data}
    <table class="{if $class}{$class}{/if}">
    <thead>
    <tr>
    <th>#ID</th>
    <th colspan="2">Nadpis</th>
    </tr>
    </thead>
    <tbody>
    {foreach $data as $m}
        {include 'mainMenu_item.latte', data => $m}
    {/foreach}
    </tbody>
    </table>
{/if}