{define fullTitle}{if empty($pageData->title) === false}{$pageData->title|striptags}{/if}{/define}
{define metaDescription}{if empty($pageData->description) === false}{$pageData->description|striptags}{/if}{/define}
{define metaKeywords}{if empty($pageData->keywords) === false}{$pageData->keywords|striptags}{/if}{/define}
{define metaRobots}{if empty($pageData->robots) === false}{$pageData->robots|striptags}{/if}{/define}

{define ogImageFull}{ifset ogImage}{include ogImage}{else}{$baseUri}/assets/images/ogimage.png{/ifset}{/define}
{define ogType}{if empty($pageData->ogType) === false}{$pageData->ogType|striptags}{/if}{/define}
{define ogTitle}{if empty($pageData->ogTitle) === false}{$pageData->ogTitle|striptags}{else}{include #fullTitle}{/if}{/define}
{define ogDescription}{if empty($pageData->ogDescription) === false}{$pageData->ogDescription|striptags}{else}{include #metaDescription}{/if}{/define}

<!DOCTYPE html>
<html>
<head>
	<title>{include #fullTitle}</title>
	
	<meta charset="utf-8">

	<meta property="og:url"         content="{link //this}" />
	<meta property="og:type"        content="{include #ogType}" />
	<meta property="og:title"       content="{include #ogTitle}" />
	<meta property="og:description" content="{include #ogDescription}" />
	<meta property="og:image"       content="{include #ogImageFull}" />

	<meta name="viewport" 		content="width=device-width,initial-scale=1">
	<meta name="robots" 		content="{include #metaRobots}">
	<meta name="description" 	content="{include #metaDescription}">
	<meta name="keywords" 		content="{include #metaKeywords}">
{*	<meta name="author"			content="www.mediastudio.cz">*}

	{* Favicons *}
	{include 'components/icons.latte'}

	{* Laylerslider *}
	<link rel="stylesheet" type="text/css" href="{$basePath}/assets/layerslider/css/layerslider.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orestbida/iframemanager@v1.1.0/dist/iframemanager.css" />

	{* Open Sans from Google Fonts *}
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' media='screen and (min-width: 640px)'>
	{*<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,500' rel='stylesheet' type='text/css' media='screen and (min-width: 640px)'>*}


	<link rel="stylesheet" href="{="$basePath/assets/css/sandbox.min.css"|version}">

	{block head}{/block}
</head>

<body {if isset($page)}data-id="{$page->id}"{/if}>
	<div n:foreach="$flashes as $flash" class="flash">
		<div class="wrapper">
			<p n:class="flash, $flash->type">{$flash->message}</p>
			<span class="close"></span>
		</div>
	</div>

    {if $user->isLoggedIn()}
        {include 'components/adminbar.latte'}
    {/if}

    {include 'components/header.latte'}

    {include content}

    {include 'components/footer.latte'}

	{* JS *}
	<script src="{$basePath}/assets/js/sandbox.min.js"></script>
	<script src="{$basePath}/assets/js/jQuery-rwdImageMaps.js"></script>
	<script src="{$basePath}/assets/js/jquery.maphilight.min.js"></script>
{*    {include 'components/cookie.latte'}*}
    {include 'components/iframemanager.latte'}


    {* Layerslider *}
    {include 'components/layerslider-scripts.latte'}
    {*{include 'components/facebook-scripts.latte'}*}

	{block scripts}
	{/block}
</body>
</html>
